{% extends 'main/includes/main.html' %}
{% block content %}
    <div class="content">
        <div class="container">
            {% if items %}
                <div class="account_brand fs-18 tt-up toggle center">
                    <img src="http://favicon.yandex.net/favicon/{{items.0.category.domain}}?size=32">
                    <span class="brand-name">{{ items.0.category }}</span>
                </div>
                <div class="container-inner">
                    <table class="table fs-14 fw-m">
                        <thead class="thead-light">
                            <tr>
                                <th class="account_type">Тип аккаунта</th>
                                <th class="account_price numerals">Стоимость (<span class="rouble-sign">₽</span>)</th>
                                <th class="account_count hidden-xs numerals">Кол-во (шт)</th>
                                <th class="account_purchase numerals center">Приобрести</th>
                            </tr>
                        </thead>
                        <tbody class="fw-m">
                            {% for i in items %}
                                <tr item-id="{{ i.pk }}">
                                    <td><a class="blue" href="/product/{{i.pk}}/">{{ i.name }}</a></td>
                                    <td class="numerals"><span class="item_price">{{ i.price }}</span> <span class="rouble-sign">₽</span></td>
                                    <td class="hidden-xs numerals">{{ i.count }} <span class="small">шт</span></td>
                                    <td class="numerals center">
                                        <a class="white btn-purchase" href="javascript:" data-toggle="modal" data-target=".bd-example-modal-lg.create"
                                            onclick="$('input[name=item_price]').val($(this).parents('tr').find('.item_price').text()); $('.select_item_id option[value=' + $(this).parents('tr').attr('item-id') + ']').attr('selected','selected')">
                                            <i class="fa fa-shopping-cart white"></i>
                                            <span>Купить</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning" style="margin-bottom: 0;">Ничего не найдено... Вы ошиблись страницей. На <a href="/">главную</a></div>
            {% endif %}
        </div>
        
        
        <article>
            <div class="container">
                {% if items %}
                    <div class="container-inner">
                        <h1>{{ data.seo_h1 }}</h1>
                        {{ data.content|safe }}
                    </div>
                {% endif %}
            </div>
        </article>
    </div>
</div>
{% endblock %}