﻿<!DOCTYPE html>
<html>
	<head>
		{% block seo_tags %}
		{% endblock %}
        {% if data.canonical %}<link rel="canonical" href="http://roya-accs.net/{{ data.canonical }}/" />{% endif %}
        <link href="/static/getshop/favicon.ico" rel="shortcut icon">
		<link rel="stylesheet" type="text/css" href="/static/getshop/fonts/fonts.css">
		<link rel="stylesheet" type="text/css" href="/static/getshop/bootstrap3/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/getshop/bootstrap-select/dist/css/bootstrap-select.css">
		<link rel="stylesheet" type="text/css" href="/static/getshop/css/main.css">
		<link rel="stylesheet" type="text/css" href="/static/getshop/slick/slick/slick.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
        <div id="wrapper" style="background: #eee;">
            <section class="top_bar fixed">
                <div class="container">
                    <div class="header_top_bar">
                        <div class="mobile_menu_call visible-xs">
                            <div class="mobile_menu_line">
                            </div>
                            <div class="mobile_menu_line">
                            </div>
                            <div class="mobile_menu_line">
                            </div>
                        </div>
                        <div class="top_logo">
                            <a href="/"><img height="20" src="/static/getshop/images/logo.png"></a>
                        </div>
                        <div class="main-header__burger">
                            <button class="main-header__btn main-header__nav-toggle js-dropdown-toggle" onclick="$(this).toggleClass('active'); $('.main-header__dropdown').toggleClass('active')" data-toggle=".main-header__nav">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23px" height="18px">
                                    <path fill="#000" d="M-0.000,18.000 L-0.000,16.000 L23.000,16.000 L23.000,18.000 L-0.000,18.000 ZM-0.000,8.000 L23.000,8.000 L23.000,10.000 L-0.000,10.000 L-0.000,8.000 ZM-0.000,-0.000 L23.000,-0.000 L23.000,2.000 L-0.000,2.000 L-0.000,-0.000 Z"></path>
                                </svg>
                            </button>
                            <div class="main-header__dropdown">
                                <nav>
                                    <ul class="main-header__nav-list">
                                        <li class="main-header__nav-item">
                                            <a href="/" class="main-header__nav-link">Главная</a>
                                        </li>
                                        <li class="main-header__nav-item">
                                            <a href="/aktivaciya-klyucha-v-steam/" class="main-header__nav-link">Как активировать Steam ключ</a>
                                        </li>
                                        <li class="main-header__nav-item">
                                            <a href="/aktivaciya-klyucha-v-origin/" class="main-header__nav-link">Как активировать Origin ключ</a>
                                        </li>
                                        <li class="main-header__nav-item">
                                            <a href="/garantii/" class="main-header__nav-link">Гарантии</a>
                                        </li>
                                        <li class="main-header__nav-item">
                                            <a href="/agreement/" class="main-header__nav-link">Пользовательское соглашение</a>
                                        </li>
                                        <li class="main-header__nav-item">
                                            <a href="https://vk.com/royal_accss" target="_blanck" class="main-header__nav-link">Паблик Вконтакте</a>
                                        </li>
                                        <li class="main-header__nav-item">
                                            <a href="/reviews/" class="main-header__nav-link">Отзывы</a>
                                        </li>
                                        <li class="main-header__nav-item">
                                            <a href="/how-to-sell-on-royal-accs-net/" class="main-header__nav-link">Как продавать через Royal-accs.net</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="main-header__list hidden-xs">
                            <ul>
                                <li><a href="/reviews/">Отзывы</a></li>
                                <li><a href="/garantii/">Гарантии</a></li>
                                <li><a href="/contacts/">Тех. поддержка</a></li>
                            </ul>
                            <div class="top_search_block">
                                <svg class="close_search" xmlns="http://www.w3.org/2000/svg" width="22.755" height="22.082" viewBox="0 0 22.755 22.082"><path fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M21.755 1L1 21.082M1 1l20.755 20.082"></path></svg>
                                <span>Поиск игр</span>
                                <svg class="main-header__search-submit" xmlns="http://www.w3.org/2000/svg" width="24.75" height="25.25" viewBox="0 0 24.75 25.25">
                                    <path fill="none" stroke="#f2ba00" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M18.5 9.75a8.71 8.71 0 0 1-1.967 5.527A8.75 8.75 0 1 1 18.5 9.75z"></path>
                                    <path fill="none" stroke="#f2ba00" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M23.75 24.25l-8-8.25"></path>
                                </svg>
                                <input type="search" name="q" placeholder="Поиск по сайту" autocomplete="off">
                            </div>
                            <div class="my-ui-widget">
                                <ul class="my_autocomplete">
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="visible-xs profile_button">
                            <img src="/static/getshop/images/mobile-person.svg">
                        </div>
                    </div>
                </div>
            </section>
            {% block if_flying %}
            {% endblock %}
            {% block main %}
            {% endblock %}
            <section class="footer">
                <div class="container">
                    <div class="advantages">
                        <div class="advantages__item">
                            <div class="advantages__item-icon">
                                <img src="/static/getshop/images/1.svg" alt="Лицензионные товары">
                            </div>
                                <div class="advantages__item-text">
                                    Лицензионные ключи от официальных издателей
                                </div>
                            </div>
                        <div class="advantages__item">
                            <div class="advantages__item-icon">
                                <img src="/static/getshop/images/2.svg" alt="Техподдержка">
                            </div>
                            <div class="advantages__item-text">
                                Гарантированная техподдержка вашей покупки
                            </div>
                        </div>
                        <div class="advantages__item">
                            <div class="advantages__item-icon">
                                <img src="/static/getshop/images/3.svg" alt="Раздачи">
                            </div>
                            <div class="advantages__item-text">
                                Регулярные акции, скидки и бонусы
                            </div>
                        </div>
                        <div class="advantages__item">
                            <div class="advantages__item-icon">
                                <img src="/static/getshop/images/4.svg" alt="Отзывы">
                            </div>
                            <div class="advantages__item-text">
                                Более 7000 положительных <span>отзывов от реальных клиентов</span>
                            </div>
                        </div>
                    </div>
                    <div class="main-footer__footer">
                        <div class="main-footer__footer-left">
                            © 2016-2018 Royal-accs.net. Все права защищены
                        </div>
                        <div class="main-footer__footer-right">
                            <div class="main-footer__nav">
                                <nav>
                                    <ul class="main-footer__nav-list">
                                        <li class="main-footer__nav-item">
                                            <a class="main-footer__nav-link" href="/agreement/">Соглашение</a>
                                        </li>
                                        <li class="main-footer__nav-item">
                                            <a class="main-footer__nav-link" href="/contacts/">Поддержка</a>
                                        </li>
                                        <li class="main-footer__nav-item">
                                            <a class="main-footer__nav-link" href="/reviews/">Отзывы</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
		</div>
		<div class="mobile_menu_inner">
			<div class="menu_par">
				<ul>
					<li><a href="#">О проекте</a></li>
					<li><a href="#">Как стать инфобизнесеном</a></li>
					<li><a href="#">Политика конфдециальности</a></li>
					<li><a href="#">Правила пользования</a></li>
					<li><a href="#">Поддержка</a></li>
					<li><a href="#">Вопрос / ответ</a></li>
				</ul>
			</div>
		</div>
        <div class="overlay_modal">
            <div class="modal_window" id="modal-success">
                <div class="modal_blocks_wrap">
                    <div class="modal_header">
                        <span>Ваша заявка успешно отправлена!</span>
                        <div class="modal__close"><img src="/static/getshop/images/close.svg"></div>
                    </div>
                    <div class="modal_body">
                        <img class="success" src="/static/getshop/images/success.svg" style="margin-bottom: 20px;">
                        <p style="margin-bottom: 20px;">Ваша заявка успешно отправлена!<br>Наши сотрудники свяжутся с вами в ближайшее время!</p>
                    </div>
                </div>
            </div>
            <div class="modal_window" id="modal-vozvrat">
                <div class="modal_blocks_wrap">
                    <div class="modal_header">
                        <span>Ваша заявка успешно отправлена!</span>
                        <div class="modal__close"><img src="/static/getshop/images/close.svg"></div>
                    </div>
                    <div class="modal_body">
                        <img class="success" src="/static/getshop/images/success.svg" style="margin-bottom: 20px;">
                        <p style="margin-bottom: 20px;">Заявка отправлена. Наши специалисты займутся ею как можно скорее. Ожидайте.</p>
                    </div>
                </div>
            </div>
            <div class="modal_window" id="modal-video-sended">
                <div class="modal_blocks_wrap">
                    <div class="modal_header">
                        <span>Ваше видео успешно отправлена!</span>
                        <div class="modal__close"><img src="/static/getshop/images/close.svg"></div>
                    </div>
                    <div class="modal_body">
                        <img class="success" src="/static/getshop/images/success.svg" style="margin-bottom: 20px;">
                        <p style="margin-bottom: 20px;">Ожидайте ответа на вашу почту!.</p>
                    </div>
                </div>
            </div>
            <div class="modal_window" id="modal-buyform">
                <div class="modal_blocks_wrap">
                    <div class="modal_header">
                        <span>Оформление заказа</span>
                        <div class="modal__close"><img src="/static/getshop/images/close.svg"></div>
                    </div>
                    <div class="modal_body">
                        <div class="order-form__pay col-xs-12 col-md-7">
                            <h2>1 Выберите способ оплаты</h2>
                            <div class="pay">
                                <a href="javascript:" class="pay__item pay__item--active" paymentType="qiwi">
                                    <div class="pay__icon">
                                        <img class="pay__icon-img" src="/static/getshop/images/qiwi.png" alt="QIWI">
                                    </div>
                                    <div class="pay__name">
                                        Visa Qiwi Wallet
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">5.8%</span></span>-->
                                    </div>
                                </a>
                                <a href="javascript:" class="pay__item" paymentType="PC">
                                    <div class="pay__icon">
                                        <img class="pay__icon-img" src="/static/getshop/images/yad.png" alt="Яндекс.Деньги">
                                    </div>
                                    <div class="pay__name">
                                        Яндекс.Деньги
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">6.3%</span></span>-->
                                    </div>
                                </a>
                                <a href="javascript:" class="pay__item" paymentType="AC">
                                    <div class="pay__icon">
                                        <img class="pay__icon-img" src="/static/getshop/images/cards.png" alt="Visa/MasterCard">
                                    </div>
                                    <div class="pay__name">
                                        Visa/MasterCard
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">2.4%</span></span>-->
                                    </div>
                                </a>
                                <a href="#" class="pay__item pay__item" paymentType="PC">
                                    <div class="pay__icon">
                                        <img class="pay__icon-img" src="/static/getshop/images/webmoney-1.png" alt="WebMoney">
                                    </div>
                                    <div class="pay__name">
                                        WebMoney
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">0.8%</span></span>-->
                                    </div>
                                </a>
                                <a href="javascript:" class="pay__item" paymentType="MC">
                                    <div class="pay__icon">
                                        <img class="pay__icon-img" src="/static/getshop/images/beeline.png" alt="Билайн">
                                    </div>
                                    <div class="pay__name">
                                        Билайн
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">19%</span></span>-->
                                    </div>
                                </a>
                                <a href="javascript:" class="pay__item" paymentType="MC">
                                    <div class="pay__icon">
                                        <img class="pay__icon-img" src="/static/getshop/images/mts.png" alt="МТС">
                                    </div>
                                    <div class="pay__name">
                                        МТС
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">12%</span></span>-->
                                    </div>
                                </a>
                                <a href="javascript:" class="pay__item" paymentType="MC">
                                    <div class="pay__icon">
                                        <img class="pay__icon-img" src="/static/getshop/images/megafon.png" alt="МегаФон">
                                    </div>
                                    <div class="pay__name">
                                        Мегафон
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">23%</span></span>-->
                                    </div>
                                </a>
                                <a href="javascript:" class="pay__item" paymentType="MC">
                                    <div class="pay__icon">
                                        <img class="pay__icon-img" src="/static/getshop/images/tele2.png" alt="ТЕЛЕ2">
                                    </div>
                                    <div class="pay__name">
                                        ТЕЛЕ2
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">25%</span></span>-->
                                    </div>
                                </a>
                                <a href="javascript:" class="pay__item" paymentType="AC">
                                    <div class="pay__icon">
                                        <img width="70" class="pay__icon-img" src="/static/getshop/images/sberbank.png" alt="Интернет-банк">
                                    </div>
                                    <div class="pay__name">
                                        Сбербанк
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">2.6%</span></span>-->
                                    </div>
                                </a>
                                <a href="javascript:" class="pay__item" paymentType="AC">
                                    <div class="pay__icon">
                                        <img class="pay__icon-img" src="/static/getshop/images/vtb24.jpg" alt="ВТБ 24">
                                    </div>
                                    <div class="pay__name">
                                        Терминал оплаты
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">11.1%</span></span>-->
                                    </div>
                                </a>
                                <a href="javascript:" class="pay__item" paymentType="AC">
                                    <div class="pay__icon">
                                        <img width="70" class="pay__icon-img" src="/static/getshop/images/alfa.png" alt="WebMoney Card">
                                    </div>
                                    <div class="pay__name">
                                        Альфа-Банк
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">0.8%</span></span>-->
                                    </div>
                                </a>
                                <a href="javascript:" class="pay__item" paymentType="AC">
                                    <div class="pay__icon">
                                        <img width="70" class="pay__icon-img" src="/static/getshop/images/tinkof.png" alt="Почта России">
                                    </div>
                                    <div class="pay__name">
                                        Тинькоф-Банк
                                        <!--<span class="pay__commis-wrapper">Комиссия <span class="pay__commis">0%</span></span>-->
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 order-form__confirm-wrapper">
                            <h2>2 Подтвердите заказ</h2>
                            <div class="order-form__confirm">
                                <form method="get" onsubmit="return false;">
                                    <div class="order-form__confirm-inner">
                                        <div class="order-form__summary">
                                            <div class="order-form__summary-left">Итоговая цена
                                                <!--<span class="order-form__summary-span">(С учетом комиссии <span class="commis">0.8%</span>)</span>-->
                                            </div>
                                            <div class="order-form__summary-right">
                                                <span class="cart-price" data-total="1585">{{ data.price|floatformat:"-2" }}</span> <span class="cart-currency">P</span>
                                            </div>
                                        </div>
                                        <div class="order-form__inputs">
                                            <div class="form-group order-form__inputs-left">
                                                <input type="email" name="email" autocomplete="off" class="form-control order-form__email" placeholder="Введите ваш E-mail" required>
                                            </div>
                                            <div class="order-form__inputs-right" pay="qiwi">
                                                <button type="submit" class="btn">
                                                <span>Перейти к оплате</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="picker picker-checkbox ">
                                        <div class="picker-handle">
                                            <div class="picker-flag"></div>
                                        </div>
                                        <label class="picker-label">
                                        <input type="checkbox" name="check" class="picker-element" required>
                                        <span style="position: relative; top: -24px; display: block; margin-left: 30px;">Я ознакомлен с пользовательским соглашением и описанием товара и уведомлен, что товар предназначен для активации: Россия, Украина, Армения, Азербайджан, Республика Беларусь, Грузия, Киргизстан, Казахстан, Республика Молдова, Таджикистан, Туркменистан или Узбекистан</span>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modall-success open-modal" data-modal-id="modal-success"></div>
        <div class="modal-vozvrat open-modal" data-modal-id="modal-vozvrat"></div>
        <div class="modal-video-sended open-modal" data-modal-id="modal-video-sended"></div>
		<script src="/static/getshop/js/jquery-3.2.1.min.js"></script>
		<script src="/static/getshop/js/sticky.js"></script>
		<script src="/static/getshop/bootstrap3/js/bootstrap.min.js"></script>
		<script src="/static/getshop/bootstrap-select/js/bootstrap-select.js"></script>
		<script src="/static/getshop/slick/slick/slick.min.js"></script>
		<script src="/static/getshop/js/scripts.js"></script>
        <script src="https://use.fontawesome.com/ec990c175f.js"></script>
        <script src="/static/getshop/js/modals.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        <input type="hidden" id="csrf_token" value="{{ c.csrf_token }}">
        <script>
        $(document).ready(function(){
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            csrftoken = getCookie('csrftoken');
        })
        </script>
        <script>
        jQuery(document).ready(function($){
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            //var csrftoken = getCookie('csrftoken');
            
            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function sameOrigin(url) {
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
        </script>
        <script>
            $(document).ready(function(){
                $('.main-header__search-toggle').click(function(e){
                    if( e.target == $('.main-header__search-close')[0] || e.target == $('.main-header__search-close svg')[0] || e.target == $('.main-header__search-close path')[0]  || e.target == $('.main-header__search-close path')[1]){
                        console.log(e.target);
                        $(this).removeClass('active');
                    }
                    else{
                        $(this).addClass('active')
                        console.log(e.target)
                    }
                })
                jQuery.curCSS = function(element, prop, val) {
                    return jQuery(element).css(prop, val);
                };
                $(function() {
                    $("input[type=search]").autocomplete({
                        source: "/get/fields/",
                        minLength: 2,
                        select: function( event, ui ) {
                            log( ui.item ?
                                "Выбрано: " + ui.item.value + " aka " + ui.item.id :
                                "Нет ничего подходящего " + this.value );
                        }
                    }).on( "autocompletesearch", function( event, ui ) {$('.my_autocomplete').html('')} )
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                        return $( "<li></li>" )
                            .data( "item.autocomplete", item )
                            .append( '<a href="/categories/' + item.category + '/' + item.value + '/" class="catalog-item"><div class="catalog-item__img"><img src="' + item.img +'"></div><div class="catalog-item__name">' + item.label + '</div><div class="catalog-item__price">' + item.price + ' P</div></a>' )
                            .appendTo('.my_autocomplete')
                            if($('.my_autocomplete > li').length){
                                $('.my_autocomplete').addClass('active')
                            }
                    }
                })
                $('.top_search_block').click(function(e){
                    if( e.target == $('.close_search')[0] ){
                        $(this).removeClass('active');
                    }
                    else{
                        $(this).addClass('active');
                    }
                })
                if(window.location.href.split('#')[1] == 'modal-success') {
                    $('.modall-success').trigger('click')
                }
                else if( window.location.href.split('#')[1] == 'modal-vozvrat' ){
                    $('.modal-vozvrat').trigger('click')
                }
                else if( window.location.href.split('#')[1] == 'modal-video-sended' ){
                    $('.modal-video-sended').trigger('click')
                }
            })
        </script>
        {% block scripts %}
        {% endblock %}
        {% for s in scripts %}
            {{ s.content|safe }}
        {% endfor %}
	</body>
</html>