<div class="col-md-4" id="sticky">
    <div class="right_col_wrap">
        <div class="right_col_infoblock">
            <span class="right_col_title">Разделы</span>
            <div class="preview_user_information">
                <ul>
                    <li><a href="/reviews/"><i class="fa fa-comments" aria-hidden="true"></i>Отзывы VK</a></li>
                    <li><a href="/garantii/"><i class="fa fa-shield" aria-hidden="true"></i>Гарантии</a></li>
                    <li><a href="/contacts/"><i class="fa fa-users" aria-hidden="true"></i>Тех-поддержка</a></li>
                    <li><a href="/video-otzyvy/"><i class="fa fa-youtube-square"></i>Видео-проверки магазина</a></li>
                    <li><a href="/vozvrat-sredstvzamena-tovara/"><i class="fa fa-usd" aria-hidden="true"></i>Возврат средств</a></li>
                </ul>
            </div>
        </div>
        <div class="right_col_infoblock">
            <span class="right_col_title">Группа VK</span>
            
               <script type="text/javascript" src="//vk.com/js/api/openapi.js?147"></script>
            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">
            VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, width: "auto", height: "400", color3: '000000'}, 131351550);
            </script>
        </div>
        <div class="right_col_infoblock" style="float: left;">
            <span class="right_col_title">Способы оплаты</span>
            <div class="col-md-3 paytypes">
                <img width="56" height="45" src="/static/getshop/images/tinkof.png">
            </div>
            <div class="col-md-3 paytypes">
                <img width="39" height="30" src="/static/getshop/images/favicon-192x192.png">
            </div>
            <div class="col-md-3 paytypes">
                <img width="33" height="33" src="/static/getshop/images/yandexdengi.png">
            </div>
            <div class="col-md-3 paytypes">
                <img width="41" height="33" src="/static/getshop/images/logo_visa_master.png">
            </div>
            <div class="col-md-3 paytypes">
                <img width="41" height="33" src="/static/getshop/images/68910846.png">
            </div>
            <div class="col-md-3 paytypes">
                <img width="56" height="45" src="/static/getshop/images/alfa.png">
            </div>
            <div class="col-md-3 paytypes">
                <img width="47" height="40" src="/static/getshop/images/sberbank.png">
            </div>
            <div class="col-md-3 paytypes">
                <img width="55" height="35" src="/static/getshop/images/mega.png">
            </div>
        </div>
    </div>
</div>