{% extends 'getshop/_base.html' %}
{% block seo_tags %}
<title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
<meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% endif %}">
<meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% endif %}">
{% endblock %}
{% block if_flying %}
<section class="cats_flying">
    <div class="cats_flying_content">
        <div class="container">
            <div class="categories-main">
                <div class="cat__item"><a href="/categories/gta-v/"><img src="/static/getshop/images/gta-v-icon.png"><span>GTA V</span></a></div>
                <div class="cat__item"><a href="/categories/csgo/"><img src="/static/getshop/images/csgo-ico.png"><span>CS:GO</span></a></div>
                <div class="cat__item"><a href="/categories/war-thunder/"><img src="/static/getshop/images/warthunder-icon.png"><span>War Thunder</span></a></div>
                <div class="cat__item"><a href="/categories/world-of-tanks/"><img src="/static/getshop/images/wotico.png"><span>World of Tanks</span></a></div>
                <div class="cat__item"><a href="/categories/dota2/"><img src="/static/getshop/images/dota.png"><span>DOTA 2</span></a></div>
                <div class="cat__item"><a href="/categories/pubg"><img src="/static/getshop/images/pubg-icon.png"><span>PUBG</span></a></div>
                <div class="cat__item"><a href="/categories/steam"><img src="/static/getshop/images/Steam-icon.png"><span>Steam</span></a></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block main %}
<section class="publications first_without_intro">
    {% if data.background %}
    <div class="bg_fixed" style="position: absolute; height: 75%; overflow: hidden; width: 100%; top: 76px; left: 0;">
        <img src="{{ data.background.url }}" style="width: 100%; height: 150%; position: absolute; top: -25%; left: 0; opacity: 0.6;">
    </div>
    {% endif %}
    <div class="container" style="position: relative; z-index: 50;">
        <div class="breadcrumbs incat">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item"><span class="breadcrumbs__link">{{ data.name }}</span></li>
            </ul>
        </div>
        <span class="page-header__title" style="display: block;">{{ data.name }}</span>
        <div class="production_list col-md-8 col-sm-8">
            <div class="col-md-12 category_price_target">
                <a href="?price=max_300">
                    <div class="col-md-4 category_price_target_item">
                        <span>до 300 P</span>
                    </div>
                </a>
                <a href="?price=under_300-500">
                    <div class="col-md-4 category_price_target_item">
                        <span>300-500 P</span>
                    </div>
                </a>
                <a href="?price=min_500">
                    <div class="col-md-4 category_price_target_item">
                        <span>от 500 P</span>
                    </div>
                </a>
            </div>
            <article class="category_content">
                {% for i in items %}
                   {% include "getshop/product-item.html" %}
                {% empty %}
                    К сожалению товара данной категории нету...
                {% endfor %}
                <h1>{{ data.seo_h1 }}</h1>
                {{ data.content|safe }}
            </article>
            <!--<div class="buttons_with_pag col-md-12">
                <div class="pagination_bl">
                    <div class="pagination_button">
                        <a class="arrow prev empty" href="#"></a>
                        <span><a href="#">15</a></span>
                        <a class="arrow next" href="#"></a>
                    </div>
                    <span class="pagination_count">из 25 стр.</span>
                </div>
            </div>-->
        </div>
        {% include "getshop/_leftbar.html" %}
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    scroll = function(){
        if( $(window).scrollTop() > $('.cats_flying').offset().top - $('.top_bar.fixed').height() ){
            $('.cats_flying_content').addClass('active_fix')
        }
        else{
            $('.cats_flying_content').removeClass('active_fix')
        }
    }
    $(window).scroll(function(){
        scroll()
    })
    scroll()
})
</script>
{% endblock %}