{% extends 'getshop/_base.html' %}
{% block seo_tags %}
<title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
<meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% endif %}">
<meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% endif %}">
{% endblock %}
{% block if_flying %}
<section class="cats_flying">
    <div class="cats_flying_content">
        <div class="container">
            <div class="categories-main">
                <div class="cat__item"><a href="/categories/gta-v/"><img src="/static/getshop/images/gta-v-icon.png"><span>GTA V</span></a></div>
                <div class="cat__item"><a href="/categories/csgo/"><img src="/static/getshop/images/csgo-ico.png"><span>CS:GO</span></a></div>
                <div class="cat__item"><a href="/categories/war-thunder/"><img src="/static/getshop/images/warthunder-icon.png"><span>War Thunder</span></a></div>
                <div class="cat__item"><a href="/categories/world-of-tanks/"><img src="/static/getshop/images/wotico.png"><span>World of Tanks</span></a></div>
                <div class="cat__item"><a href="/categories/origin/"><img src="/static/getshop/images/origin-icon.png"><span>Origin</span></a></div>
                <div class="cat__item"><a href="/categories/pubg"><img src="/static/getshop/images/pubg-icon.png"><span>PUBG</span></a></div>
                <div class="cat__item"><a href="/categories/steam"><img src="/static/getshop/images/Steam-icon.png"><span>Steam</span></a></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block main %}
<section class="publications first_without_intro">
    {% if data.background %}
    <div class="bg_fixed" style="position: absolute; height: 75%; overflow: hidden; width: 100%; top: 76px; left: 0;">
        <img src="{{ data.background.url }}" style="width: 100%; height: 150%; position: absolute; top: -25%; left: 0; opacity: 0.6;">
    </div>
    {% endif %}
    <div class="container">
        <div class="breadcrumbs incat">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item"><span class="breadcrumbs__link">{{ data. }}</span></li>
            </ul>
        </div>
        <h1 class="page-header__title">{{ data.name }}</h1>
        <div class="production_list col-md-8 col-sm-8">
            <div class="col-md-12 category_price_target">
                <a href="?price=300">
                    <div class="col-md-4 category_price_target_item">
                        <span>до 300 P</span>
                    </div>
                </a>
                <a href="?price=300-500">
                    <div class="col-md-4 category_price_target_item">
                        <span>300-500 P</span>
                    </div>
                </a>
                <a href="?price=500">
                    <div class="col-md-4 category_price_target_item">
                        <span>от 500 P</span>
                    </div>
                </a>
            </div>
            <article class="category_content">
                {% for i in items %}
                   {% include "getshop/product-item.html" %}
                {% empty %}
                    К сожалению товара данной категории нету...
                {% endfor %}
                {{ data.content|safe }}
            </article>
            <!--<div class="buttons_with_pag col-md-12">
                <div class="pagination_bl">
                    <div class="pagination_button">
                        <a class="arrow prev empty" href="#"></a>
                        <span><a href="#">15</a></span>
                        <a class="arrow next" href="#"></a>
                    </div>
                    <span class="pagination_count">из 25 стр.</span>
                </div>
            </div>-->
        </div>
        <div class="col-md-4" id="sticky">
            <div class="right_col_wrap">
                <div class="right_col_infoblock">
                    <span class="right_col_title">Разделы</span>
                    <div class="preview_user_information">
                        <ul>
                            <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i>Отзывы VK</a></li>
                            <li><a href="#"><i class="fa fa-shield" aria-hidden="true"></i>Гарантии</a></li>
                            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>Тех-поддержка</a></li>
                            <li><a href="#"><i class="fa fa-usd" aria-hidden="true"></i>Возврат средств</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right_col_infoblock">
                    <span class="right_col_title">Группа VK</span>
                    
                       <script type="text/javascript" src="//vk.com/js/api/openapi.js?147"></script>
                    <!-- VK Widget -->
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, width: "auto", height: "400", color3: '000000'}, 131351550);
                    </script>
                </div>
                <div class="right_col_infoblock" style="float: left;">
                    <span class="right_col_title">Способы оплаты</span>
                    <div class="col-md-3 paytypes">
                        <img width="56" height="45" src="/static/getshop/images/tinkof.png">
                    </div>
                    <div class="col-md-3 paytypes">
                        <img width="39" height="30" src="/static/getshop/images/favicon-192x192.png">
                    </div>
                    <div class="col-md-3 paytypes">
                        <img width="33" height="33" src="/static/getshop/images/yandexdengi.png">
                    </div>
                    <div class="col-md-3 paytypes">
                        <img width="41" height="33" src="/static/getshop/images/logo_visa_master.png">
                    </div>
                    <div class="col-md-3 paytypes">
                        <img width="41" height="33" src="/static/getshop/images/68910846.png">
                    </div>
                    <div class="col-md-3 paytypes">
                        <img width="56" height="45" src="/static/getshop/images/alfa.png">
                    </div>
                    <div class="col-md-3 paytypes">
                        <img width="47" height="40" src="/static/getshop/images/sberbank.png">
                    </div>
                    <div class="col-md-3 paytypes">
                        <img width="55" height="35" src="/static/getshop/images/mega.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    scroll = function(){
        if( $(window).scrollTop() > $('.cats_flying').offset().top - $('.top_bar.fixed').height() ){
            $('.cats_flying_content').addClass('active_fix')
        }
        else{
            $('.cats_flying_content').removeClass('active_fix')
        }
    }
    $(window).scroll(function(){
        scroll()
    })
    scroll()
    if ($(window).width() > 767){
      // var lastScrollTop = 0;
      $('#sticky').stick_in_parent({
        inner_scrolling: true,
        offset_top: 190,
        // bottoming: false,
        // sticky_class:'page-footer'
      });
      $('#sticky')
      .on('sticky_kit:bottom', function(e) {
          $(this).parent().css('position', 'static');
          // $(this).parent().width('300');
      })
      .on('sticky_kit:unbottom', function(e) {
          $(this).parent().css('position', 'relative');
          // $(this).parent().width('300');
      })
      .on('sticky_kit:stick', function(e){
          var new_width = parseInt($(this).parent().width())
          $(this).parent().width(new_width - 20);
      });
        $('.slider_par').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 5000,
          prevArrow: '<button class="slick-prev" aria-label="Previous" type="button"></button>',
          nextArrow: '<button class="slick-next" aria-label="Next" type="button"></button>',
        });	
  }
})
</script>
{% endblock %}