{% extends 'getshop/_base.html' %}
{% block seo_tags %}
<title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
<meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% endif %}">
<meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% endif %}">
{% endblock %}
{% block if_flying %}
<section class="cats_flying">
    <div class="cats_flying_content">
        <div class="container">
            <div class="categories-main">
                <div class="cat__item"><a href="/categories/gta-v/"><img src="/static/getshop/images/gta-v-icon.png"><span>GTA V</span></a></div>
                <div class="cat__item"><a href="/categories/csgo/"><img src="/static/getshop/images/csgo-ico.png"><span>CS:GO</span></a></div>
                <div class="cat__item"><a href="/categories/war-thunder/"><img src="/static/getshop/images/warthunder-icon.png"><span>War Thunder</span></a></div>
                <div class="cat__item"><a href="/categories/world-of-tanks/"><img src="/static/getshop/images/wotico.png"><span>World of Tanks</span></a></div>
                <div class="cat__item"><a href="/categories/origin/"><img src="/static/getshop/images/origin-icon.png"><span>Origin</span></a></div>
                <div class="cat__item"><a href="/categories/pubg"><img src="/static/getshop/images/pubg-icon.png"><span>PUBG</span></a></div>
                <div class="cat__item"><a href="/categories/steam"><img src="/static/getshop/images/Steam-icon.png"><span>Steam</span></a></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block main %}
<section class="publications first_without_intro">
    {% if data.background %}
    <div class="bg_fixed" style="position: absolute; height: 75%; overflow: hidden; width: 100%; top: 76px; left: 0;">
        <img src="{{ data.background.url }}" style="width: 100%; height: 150%; position: absolute; top: -25%; left: 0; opacity: 0.6;">
    </div>
    {% endif %}
    <div class="container">
        <div class="breadcrumbs incat">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item"><span class="breadcrumbs__link">{{ data.maintitle }}</span></li>
            </ul>
        </div>
        <h1 class="page-header__title">{{ data.seo_h1 }}</h1>
        <div class="production_list col-md-8 col-sm-8">
            <article class="category_content solo">
                <div class="not_authorized_comments{% if userdata == '' %} active{% endif %}">
	                <div class="reviews-header">{{ count }} отзывов<img src="/static/getshop/images/comments_widget.png"></div>
	                <div class="total-reviews-box">					
	                    <form method="get" action="#sended">
	                        <table width="100%">
	                            <tbody>
			                        <tr>
		                                <td width="100%" align="center">
											<span>Для того, чтобы оставить свой отзыв, необходимо авторизоваться <b>Авторизоваться</b></span>
	                                	</td>
	                            	</tr>
			                        <tr>
		                                <td width="100%" align="center">
											<a class="vk_oauth" href="https://oauth.vk.com/authorize?client_id=6350467&redirect_uri=http://royal-accs.net/reviews&response_type=code">Авторизироваться</a>
	                                	</td>
	                            	</tr>
	                        	</tbody>
	                        </table>
	                    </form>
	                </div>
                </div>
                <div class="authorized_comments{% if userdata != '' %} active{% endif %}">
	                <div class="reviews-header"><span class="numnum">{{ count }}</span> отзывов<img src="/static/getshop/images/comments_widget.png"></div>
	                <div class="total-reviews-box">					
	                    <form method="get" action="#sended">
	                        <table width="100%">
	                            <tbody><tr>
	                                <td><div class="review_avatar user_avatar" style="background-image: url({{ userdata.photo_big }});margin-left: 10px;margin-top: -20px;"></div></td>
	                                <td width="95%">
	                                    <textarea name="review" placeholder="Ваш отзыв..."></textarea>
	                                </td>
	                            </tr>
	                            <tr class="attachementImg">
	                                <td>
	
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="10%"></td>
	                                <td width="90%">
	                                    <div class="review-logged-as">Вы авторизованы как <a class="username_vk" href="https://vk.com/id{{ userdata.uid }}" target="_blank">{{ userdata.name }} {{ userdata.surename }}</a></div>
	                                    <div class="send_vk_review" style="position: relative;"><span class="mo_more">Вы оставили слишком много отзывов за последнее время</span>Отправить</div>
	                                </td>
	                            </tr>
	                        </tbody></table>
	                    </form>
	                </div>
                </div>
                    <div class="comments">
                    {% for com in comments %}
                        <div class="review_comment">
                            <div class="review_avatar" style="background-image: url({{ com.avatar }});"></div>
                            <div class="review_text" avtor-id-old="{{ com.vkid }}" {% if userdata.uid|stringformat:"s" == com.vkid|stringformat:"s" %}style="display: none"{% endif %}><div class="rev_username">{{ com.username }}</div><div class="review-concret-text">{{ com.news_comment }}</div><div class="rev_time">{{ com.datetime.time|timesince:com.datetime.now }} назад</div></div>
                            <div class="review_text" avtor-id-new="{{ com.vkid }}" {% if userdata.uid|stringformat:"s" == com.vkid|stringformat:"s" %}style="display: block;"{% endif %}><div class="rev_username">{{ com.username }}</div><div class="review-concret-text">{{ com.comment }}</div><div class="rev_time">{{ com.datetime.time|timesince:com.datetime.now }} назад</div></div>
                            <div style="clear: both"></div>
                        </div>
                    {% endfor %}
                    </div>
                    <ul class="pagination">
                    {% if comments.has_previous %}
                        <li class="arrow"><a href="?page={{ comments.previous_page_number }}{% if get_price %}&price={{ get_price }}{% endif %}">&laquo;</a></li>
                    {% endif %}
                    {% if comments.has_previous %}<li><a href='?page={{ comments.number|add:"-1" }}{% if get_price %}&price={{ get_price }}{% endif %}'>{{ comments.number|add:"-1" }}</a></li>{% endif %}
                    <li class="active"><a href="?page={{ comments.number }}{% if get_price %}&price={{ get_price }}{% endif %}">{{ comments.number }}</a></li>
                    {% if comments.has_next %}<li><a href='?page={{ comments.number|add:"1" }}{% if get_price %}&price={{ get_price }}{% endif %}'>{{ comments.number|add:"1" }}</a></li>{% endif %}
                    {% if comments.has_previous == False %}<li><a href='?page={{ comments.number|add:"2" }}{% if get_price %}&price={{ get_price }}{% endif %}'>{{ comments.number|add:"2" }}</a></li>{% endif %}
                    {% if comments.has_next %}
                        <li class="arrow"><a href="?page={{ pag }}{{ comments.next_page_number }}{% if get_price %}&price={{ get_price }}{% endif %}">&raquo;</a></li>
                    {% endif %}
                    </ul>
            </article>
            <!--<div class="buttons_with_pag col-md-12">
                <div class="pagination_bl">
                    <div class="pagination_button">
                        <a class="arrow prev empty" href="#"></a>
                        <span><a href="#">15</a></span>
                        <a class="arrow next" href="#"></a>
                    </div>
                    <span class="pagination_count">из 25 стр.</span>
                </div>
            </div>-->
        </div>
        {% include "getshop/_leftbar.html" %}
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    if($('.buyer-mail')[0]){
        if( !localStorage.getItem('new_mail') ){
            if(localStorage.getItem('mail').split('@')[0].length > 0){
                function getRandomInt(min, max) {
                  return Math.floor(Math.random() * (max - min)) + min;
                }
                sss = getRandomInt(1, localStorage.getItem('mail').split('@')[0].length)
                new_m = localStorage.setItem('new_mail', localStorage.getItem('mail').split('@')[0].slice(0, sss) + localStorage.getItem('mail').split('@')[0].slice(sss+1, localStorage.getItem('mail').split('@')[0].length))
            }
            $($('.buyer-mail')[0]).text(localStorage.getItem('new_mail') + '@' + localStorage.getItem('mail').split('@')[1])
        }
        else{
            $($('.buyer-mail')[0]).text(localStorage.getItem('new_mail') + '@' + localStorage.getItem('mail').split('@')[1])
        }
    }
    scroll = function(){
        if( $(window).scrollTop() > $('.cats_flying').offset().top - $('.top_bar.fixed').height() ){
            $('.cats_flying_content').addClass('active_fix')
        }
        else{
            $('.cats_flying_content').removeClass('active_fix')
        }
    }
    $(window).scroll(function(){
        scroll()
    })
    scroll()
    if( window.location.href.split('?')[1] != undefined ){
        if ( window.location.href.split('?')[1].split('=')[0] == 'code'  ){
            history.pushState(null, null, '/reviews/');
        }
    }
    $('.send_vk_review').click(function(){
        if($('.total-reviews-box textarea').val()){
            n = new Date()
            test = {
                text : $('.total-reviews-box textarea').val(),
                img : '{{ userdata.photo_big }}',
                vk_id : '{{ userdata.uid }}',
                username : '{{ userdata.name }}' + ' ' + '{{ userdata.surename }}',
                time : Date.parse(n)/1000
            }
            $.ajax({
                url: '/ajax/',
                type: "POST",
                data: { type : 'add_comment', data : test },
                success: function (data, textStatus) {
                    if( parseInt(data) == 234 ){
                        $('.no_more').css('display','block')
                    }
                    else{
                        $('.total-reviews-box textarea').val('');
                        $('.comments').prepend('<div class="comments"><div class="review_comment "><div class="review_avatar" style="background-image: url(' + test['img'] + ');"></div><div class="review_text"><div class="rev_username">' + test['username'] + '</div><div class="review-concret-text">' + test['text'] + '</div><div class="rev_time">Только что</div></div><div style="clear: both"></div></div></div>')
                    }
                    console.log(data)
                }
            })
        }
    })
    $("html").keypress(function(e){
        if(e.keyCode==13){
            if( $($('textarea')[0]).val() != ''){
                $('.send_vk_review').click();
            }
        }
     });
     $('.review_text[avtor-id-new={{ userdata.uid }}]').css('display','block').siblings('.review_text').css('display','none')
})
</script>
{% endblock %}