{% extends 'getshop/_base.html' %}
{% block seo_tags %}
<title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
<meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% endif %}">
<meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% endif %}">
{% endblock %}
{% block if_flying %}
    <section class="block_intro smaller hidden-xs">
        <div class="container">
            <div class="slider_wrap">
                <div class="slider_par">
                    {% for s in slider %}
                    {% if s.0|length > 0 or s.1|length > 0 %}
                    <div class="slider_item">
                        {% for item in s.0 %}
                        <a href="/categories/{{ item.category.alias }}/{{ item.alias }}/">
                        <div class="col-md-8">
                            <img src="{{ item.slider_big.url }}">
                            <div class="price_it">
                                <div class="percent_discont">-{% if item.discount %}{{ item.discount }}{% else %}0{% endif %}%</div>
                                <span class="old_price">{{ item.discount_price|floatformat:"-2" }} P</span>
                                <span class="new_price">{{ item.price|floatformat:"-2" }} P</span>
                            </div>
                        </div>
                        </a>
                        {% endfor %}
                        <div class="col-md-4">
                            {% for item in s.1 %}
                            <a href="/categories/{{ item.category.alias }}/{{ item.alias }}/">
                            <div class="col-md-12">
                                <img src="{{ item.slider_small.url }}">
                                <div class="price_it">
                                    <div class="percent_discont">-{% if item.discount %}{{ item.discount }}{% else %}0{% endif %}%</div>
                                    <span class="old_price">{{ item.discount_price|floatformat:"-2" }} P</span>
                                    <span class="new_price">{{ item.price|floatformat:"-2" }} P</span>
                                </div>
                            </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="cats_flying">
        <div class="cats_flying_content">
            <div class="container">
                <div class="categories-main">
                    <div class="cat__item"><a href="/categories/gta-v/"><img src="/static/getshop/images/gta-v-icon.png"><span>GTA V</span></a></div>
                    <div class="cat__item"><a href="/categories/csgo/"><img src="/static/getshop/images/csgo-ico.png"><span>CS:GO</span></a></div>
                    <div class="cat__item"><a href="/categories/war-thunder/"><img src="/static/getshop/images/warthunder-icon.png"><span>War Thunder</span></a></div>
                    <div class="cat__item"><a href="/categories/world-of-tanks/"><img src="/static/getshop/images/wotico.png"><span>World of Tanks</span></a></div>
                    <div class="cat__item"><a href="/categories/dota2/"><img src="/static/getshop/images/dota.png"><span>DOTA 2</span></a></div>
                    <div class="cat__item"><a href="/categories/pubg"><img src="/static/getshop/images/pubg-icon.png"><span>PUBG</span></a></div>
                    <div class="cat__item"><a href="/categories/steam"><img src="/static/getshop/images/Steam-icon.png"><span>Steam</span></a></div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block main %}
    <section class="publications" style="background: #eee;">
        <!--<div class="container sort_items hidden-xs">
            <span>Сортировать:</span>
            <ul>
                <li><a href="#">По новизне</a></li>
                <li><a class="active" href="#">По популярности</a></li>
                <li><a href="#">По стоимости</a></li>
            </ul>
        </div>-->
        <div class="visible-xs catalog_filters">
            <div><span>Каталог контента</span></div>
            <div class="button_cat_filter" onclick="$('.right_col_filter').addClass('active');
                                                    $('.top_bar, .production_list').addClass('filter_blured');
                                                    $('body').css('overflow','hidden')">Сортировка</div>
            <div class="button_cat_filter" onclick="$('.right_col_filter').addClass('active');
                                                    $('.top_bar, .production_list').addClass('filter_blured');
                                                    $('body').css('overflow','hidden')">Фильтры</div>
        </div>
        <div class="container">
            <div class="production_list col-md-8 col-sm-8">
                <div class="col-md-12 category_price_target">
                    <a href="?price=max_300">
                        <div class="col-md-4 category_price_target_item">
                            <span>до 300 P</span>
                        </div>
                    </a>
                    <a href="?price=under_300-500">
                        <div class="col-md-4 category_price_target_item">
                            <span>300-500 P</span>
                        </div>
                    </a>
                    <a href="?price=min_500">
                        <div class="col-md-4 category_price_target_item">
                            <span>от 500 P</span>
                        </div>
                    </a>
                </div>
                {% for i in accss %}
                    {% include "getshop/product-item.html" %}
                {% endfor %}
                <div class="pagination" style="float: left;width: 100%;">
                    <ul class="pagination">
                        {% if accss.has_previous %}
                            <li class="arrow"><a href="?page={{ accss.previous_page_number }}{% if get_price %}&price={{ get_price }}{% endif %}">&laquo;</a></li>
                        {% endif %}
                        {% for pag in accss.paginator.page_range %}
                            {% if pag == accss.number %}
                                <li class="active"><a href="?page={{ pag }}{% if get_price %}&price={{ get_price }}{% endif %}">{{ pag }}</a></li>
                            {% else %}
                                <li><a href="?page={{ pag }}{% if get_price %}&price={{ get_price }}{% endif %}">{{ pag }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if accss.has_next %}
                            <li class="arrow"><a href="?page={{ pag }}{{ accss.next_page_number }}{% if get_price %}&price={{ get_price }}{% endif %}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!--<div class="buttons_with_pag col-md-12">
                    <div class="pagination_bl">
                        <div class="pagination_button">
                            <a class="arrow prev empty" href="#"></a>
                            <span><a href="#">15</a></span>
                            <a class="arrow next" href="#"></a>
                        </div>
                        <span class="pagination_count">из 25 стр.</span>
                    </div>
                </div>-->
            </div>
            {% include "getshop/_leftbar.html" %}
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        scroll = function(){
            if( $(window).scrollTop() > $('.cats_flying').offset().top - $('.top_bar.fixed').height() ){
                $('.cats_flying_content').addClass('active_fix')
            }
            else{
                $('.cats_flying_content').removeClass('active_fix')
            }
        }
        $(window).scroll(function(){
            scroll()
        })
        scroll()
        if ($(window).width() > 767){
            $('.slider_par').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 5000,
              prevArrow: '<button class="slick-prev" aria-label="Previous" type="button"></button>',
              nextArrow: '<button class="slick-next" aria-label="Next" type="button"></button>',
            });
        }
    })
</script>
{% endblock %}