    <style>form { visibility:hidden;}</style>
    {% if method == 'yandex' %}
    <form method='POST' action='https://money.yandex.ru/quickpay/confirm.xml'>
        {% csrf_token %}
        <input name='label' type='hidden' value=''>
        <input class='yandexmoney' name='receiver' type='hidden' value='{{ koshel }}'>
        <input name='quickpay-form' type='hidden' value='shop'>
        <input name='referer' type='hidden' value=''>
        <input name='is-inner-form' type='hidden' value='true'>
        <input type='hidden' name='targets' value='{{ tovar }}'>

        <input type='hidden' name='sum' value='{{ sum }}' maxlength='8'>
        <input type='hidden' name='paymentType' value='{{ ya_type }}'>
        <input type='hidden' name='successURL' value='{{ successs }}'>
        <input class='email_pay' placeholder='Введите свой email' name='us_email' type='email' required=''>
        <input type='submit' class='howbay-buyButton popup-btn' name='' value='перейти к оплате'>
    </form>
    {% elif method == 'qiwi' %}
    <form action='https://w.qiwi.com/payment/form/99' method='get'>
        {% csrf_token %}
       <input name="extra['account']" type='hidden' value='{{ qiwi_phone }}'>
       <input name='amountInteger' type='hidden' value='{{ sum }}'>
       <input name='currency' type='hidden' value='RUB'>
       <input name='amountFraction' type='hidden' value='0'>
       <input name="extra['comment']" type='hidden' value='{{ tovar }}'>
       <input  class='email_pay' placeholder='Введите свой email' name='email' type='email' required>
       <div style='font-size: 13px;'>
           <input type='checkbox' required>
           Я принимаю условия
           <a style='font-size: 12px;' target='_blank' href='/agreement.html'>
               пользовательского соглашения
           </a>
       </div>
       <input  type='submit' class='howbay-buyButton popup-btn' name='' value='перейти к оплате' />
    </form>
    {% endif %}
    <script>
       document.querySelector('form').submit();
    </script>