<a href="/categories/{{ i.category.alias }}/{{ i.alias }}/" class="catalog-item">
    <div class="catalog-item__img">
        {% if i.pic %}<img src="{{ i.pic.url }}" alt="STEAM">{% else %}<img src="/static/getshop/images/catalog1.jpg" alt="Fallout 4 VR">{% endif %}
    </div>
    <div class="catalog-item__name">
            {{ i.name }}
        <div class="catalog-item__info">
            <div class="catalog-item__activation">
                <img src="/static/getshop/images/1.png" alt="STEAM">
            </div>
            <div class="catalog-item__genres">
            {{ i.category.name }}
            </div>
        </div>
    </div>
    <div class="catalog-item__price">
        {% if i.discount %}<span class="catalog-item__discount">-{{ i.discount }}%</span>{% endif %}
        <span class="catalog-item__price-span">{{ i.price|floatformat:"-2" }} P</span>
    </div>
</a>