{% load staticfiles %} 
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>{% if data.seo_title %}{{ data.seo_title }}{% endif %}</title>
	    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% endif %}">
	    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&amp;subset=cyrillic" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,700&amp;subset=cyrillic" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,500&amp;subset=cyrillic" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet"> 
		<!-- Put this script tag to the <head> of your page -->
		<script type="text/javascript" src="//vk.com/js/api/openapi.js?151"></script>
    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
                <div class="container">
                    <a href="/" class="navbar-brand"><span class="brand">Sweet Account <span class="small center">Большой ассортимент аккаунтов</span></span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                            <li class="nav-item tt-up fw-b"><span><a href="/" class="menu_href"><i class="fa fa-home"></i> Главная</a></li></span>
                            <!-- {% for m in menu %}
                                <li class="tt-up fw-b"><a href="/{{ m.alias }}/" class="blue">{{ m.maintitle }}</a></li>
                            {% endfor %} -->

                            <li class="nav-item tt-up fw-b"><span><a href="/categories" class="menu_href"><i class="fa fa-list-alt"></i> Категории</a></li></span>
                            <li class="nav-item tt-up fw-b"><span><a href="/clients" class="menu_href"><i class="fa fa-reddit-alien"></i> Клиенты</a></li></span>
                            <li class="nav-item tt-up fw-b"><span><a href="/contacts" class="menu_href"><i class="fa fa-address-card"></i> Обратная связь</a></li></span>
                        </ul>
                    </div>
                </div>
            </nav>

            

            <div class="banner" id="banner">
            	<div class="image-container">
            		<img src="{% static 'img/555.jpg' %}" alt="">
            	</div>
            </div>

            {% block content %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
            	<div class="footer-content">
            		<div class="row">
            			<div class="col-xs-12 col-sm-6 center-xs">
            				<div class="left-tablets">
            					<a href="/" class="brand">Sweet Account <span class="small">Большой ассортимент аккаунтов</span></a>
            				</div>
            			</div>

            			<div class="col-sm-6 hidden-xs">
            				<div class="right">
            					<a href="/blog" class="db blue mb-0">Сейчас в блоге ›</a>
            					<a href="/blog/post/new_year_discounts" class="db blue mb-0">Новогодние акции</a>
            				</div>
            			</div>
            		</div>
            	</div>

            	<div class="footer-content">
	                <div class="row">
	                	<div class="col-xs-12 col-sm-6 grey-5 center-xs">
	                	    <ul class="list-inline m-b-0">
	                	        <li class="list-inline-item"><a href="#" class="grey-5">О нас</a></li>
	                	        <li class="list-inline-item"><a href="#" class="grey-5">Помощь</a></li>
	                	        <li class="list-inline-item"><a href="#" class="grey-5">Сотрудничество</a></li>
	                	        <li class="list-inline-item"><a href="#" class="grey-5">Контакты</a></li>
	                	    </ul>
	                	</div>

	                    <div class="col-xs-12 col-sm-6 center-xs copyright">
	                    	<div class="right-tablets">
	                    		<span class="grey-5">2017 © Sweet Account. All Rights Reserved.</span>
	                    	</div>
	                    </div>
	                </div>
                </div>
            </div>
        </footer>

		<script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

        <input type="hidden" id="csrf_token" value="{{ c.csrf_token }}">
        <script>
        $(document).ready(function(){
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            csrftoken = getCookie('csrftoken');
        })
        </script>
        <script>
        jQuery(document).ready(function($){
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            //var csrftoken = getCookie('csrftoken');
            
            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function sameOrigin(url) {
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
        </script>
        <script>
            $(document).ready(function() {
                $('div.toggle').click(function() {
                    var parent = $(this).parent();
                    var container = parent.find('.container-inner');
                    container.slideToggle('slow');
                });

                send_pay = function(){
                    mail = $('input[name="mail"]').val();
                    item_count = parseInt($('input[name="item_count"]').val());
                    item_price = parseInt($('input[name="item_price"]').val());
                    item_id = $('select.select_item_id').val();
                    paymethod = $(this);

                    $.ajax({
                        url: '/ajax/',
                        type: "POST",
                        data: { type : 'create_order', mail : mail, paymethod : 1, item_id : item_id, count : item_count, total_price : item_price*item_count },
                        success: function (data, textStatus) {
                            $('.prim').html(data);
                            $('.sum_to_pay').html(item_price * item_count);
                        }
                    })
                }

                $('.qiwi').click(function(){
                    var input_mail = $('input[name="mail"]').val();
                    var item_count = parseInt($('input[name="item_count"]').val());

                    if (input_mail && item_count) {
                        send_pay();
                        $(this).parents('.modal').modal('hide');
                        $('.check_order').modal('show');
                    } else {
                        alert("Заполните все поля!");
                    }
                })

                check_pay = function(){
	                token = $('.prim').text()

                    $.ajax({
                        url: '/ajax/',
                        type: "POST",
                        data: { 
                            type : 'check_order', 
                            token : token
                        },
                        success: function (data, textStatus) {
                            alert(data)
                        }
                    })
                }
            })
        </script>

        
        <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            });
        </script>

        {% for script in scripts %}
            {% autoescape off %} {{ script.content }} {% endautoescape %}
        {% endfor %}
    </body>
</html>