.slider {
    background: url(../images/body-bg.png) top left repeat-x;
    background-size: auto 100%;
    margin-bottom: 36px
}
.slider__wrapper.is-visible {
    opacity: 1;
}
.slider__wrapper {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 3vw 0;
}

.slider__slide {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.slider__slide.pre {
    -webkit-transform: perspective(60em) rotateY(18deg);
    -moz-transform: perspective(60em) rotateY(18deg);
    -ms-transform: perspective(60em) rotateY(18deg);
    -o-transform: perspective(60em) rotateY(18deg);
    transform: perspective(60em) rotateY(18deg);
}
.slider__slide.following {
    -webkit-transform: perspective(60em) rotateY(-18deg);
    -moz-transform: perspective(60em) rotateY(-18deg);
    -ms-transform: perspective(60em) rotateY(-18deg);
    -o-transform: perspective(60em) rotateY(-18deg);
    transform: perspective(60em) rotateY(-18deg);
}
.slider__slide.following {
    -webkit-transform: perspective(60em) rotateY(-18deg);
    -moz-transform: perspective(60em) rotateY(-18deg);
    -ms-transform: perspective(60em) rotateY(-18deg);
    -o-transform: perspective(60em) rotateY(-18deg);
    transform: perspective(60em) rotateY(-18deg);
}
.slider__slide>.bg {
    width: 100%;
    height: 420px;
    border-radius: 12px;
    outline: transparent solid 1px;
}
.slider__slide>.bg.i-2 {
    background-color: #34b579;
}
.slider__slide>.bg.i-1 {
    background-color: yellow;
}
.slider__slide>.bg.i-3 {
    background-color: purple;
}
.bg {
    position: relative;
}
.bg img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.glide_wrp {
    min-height: 450px;
    width: 100%;
    float: left;
}
.game-name {
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    width: 100%;
    display: block;
    line-height: 50px;
    font-size: 25px;
    padding-left: 25px;
}
#Glide {
    display: none;
}
.seller_info {
    width: 100%:
}
.seller_info img {
    float: left;
}
.seller_info span {
    display: block;
    float: left;
    line-height: 40px;
    margin-left: 20px;
    font-size: 25px;
}
.seller_inf_row {
    width: 100%;
    float: left;
}
.seller_inf_row li p{
    float: left;
    color: rgba(32, 178, 75, 0.75);
    margin-right: 7px;
}
.seller_inf_row ul {
    display: table;
    font-size: 17px;
}
.seller_inf_row li {
    margin-bottom: 10px;
    border-bottom: 2px dashed rgba(32, 178, 75, 0.75);
    padding-bottom: 3px;
}
.modal_blocks_wrap.middle {
    max-width: 800px;
}
.hrefwebmoney {
    text-align: center;
    padding: 9px 10px;
    display: inline-block;
    background-color: #0f6eb4;
    color: white;
    padding-right: 50px;
    border-radius: 7px;
    position: relative;
    transition: all .3s;
}
.hrefwebmoney:hover, .hrefwebmoney:focus {
    text-decoration: none;
    opacity: 0.8;
    transition: all .3s;
}
.modal__close {
    cursor: pointer;
}