<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% block block_tags %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet" type="text/css">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link href="/static/bestaccs/img/go-accs.png" rel="shortcut icon">
        <link href="/static/bestaccs/css/app.css" rel="stylesheet" type="text/css">
        <link href="/static/bestaccs/css/slicebox.css" rel="stylesheet" type="text/css">
        <link href="/static/bestaccs/css/product.css" rel="stylesheet" type="text/css">
        <link href="/static/bestaccs/css/styles.css" rel="stylesheet" type="text/css">
        <link href="/static/bestaccs/css/glide.core.css" rel="stylesheet" type="text/css">
        <link href="/static/bestaccs/css/glide.theme.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/static/bestaccs/js/modernizr.custom.46884.js"></script>
        
    </head>
    <body>
        <div class="page">
            <div class="page-inner">
                <header class="header js-header">
                    <div class="header__top">
                        <div class="wrapper">
                            <div class="header-mob">
                                <div class="header-mob-btn js-mob-btn">
                                    <button type="button" class="header-mob-btn__bars">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    </button>
                                    <button type="button" class="header-mob-btn__close iconic iconic--cross"></button>
                                </div>
                                <nav class="header-mob__menu wrapper">
                                    <ul class="header-mob__list">

                                    </ul>
                                    <ul class="header-mob__list header-mob__list--sm">

                                    </ul>
                                </nav>
                            </div>
                            <a href="/" class="header__logo">
                            <img src="/static/bestaccs/img/go-accs.png" alt="GoAccs">
                            </a>
                            <div class="header__main-col">
                                <div class="header__info-wr">
                                    <ul class="header__info-links" style="max-width: 400px; min-width: 400px;">
                                        <li>
                                            <a href="/kak-kupit/" class="link link--black">
                                            Как купить?
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/refund/" class="link link--black">
                                            Возврат средств
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/guaranties/" class="link link--black">
                                            Гарантии
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/kontakty/" class="link link--black">
                                            Контакты
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="/reviews/" class="header-ico-link">
                                    <span class="vk-reviews"><img src="/static/bestaccs/img/vk.png"></span>
                                    <span class="header-ico-link__txt">
                                    Отзывы
                                    </span>
                                    </a>
                                    <!--<a href="/profile/my-purchases" class="header-ico-link">
                                    <span class="header-ico-link__ico header-ico-link__ico--cart">
                                    </span>
                                    <span class="header-ico-link__txt">
                                    Мои покупки
                                    </span>
                                    </a>-->
                                </div>
                                <div class="search-div">
                                    <div class="search-wr js-live-search" data-delay="300" data-url="/search/autocomplete">
                                        <input type="search" name="q" class="search-wr__input js-live-search_input" placeholder="Поиск игр..." autocomplete="off" id="game-search-input">
                                        <div class="search-wr__btns-pair">
                                            
                                        </div>
                                        <div class="search-wr__loadout-wr js-live-search_loadout-wr">
                                            <div class="search-wr__loadout js-live-search_loadout my_autocomplete"></div>
<!--
                                            <div class="search-wr__loadout-bot">
                                                <a href="#" class="search-wr__loadout-bot-link js-live-search_all-link">
                                                Все результаты
                                                </a>
                                            </div>
-->
                                        </div>
                                    </div>
                                    <p class="search-div__txt">
                                        Наш магазин насчитывает более 100 игр
                                    </p>
                                </div>
                            </div>
                            <button type="button" class="iconic iconic--lupa header__mob-search js-search-toggle"></button>
                        </div>
                    </div>
                    <div class="header__nav">
                            <div class="wrapper">
                                <a href="/catalog/csgo/" class="header-nav__smenu-item">
                                    <div class="header-nav__smenu-ico">
                                        <img src="/static/bestaccs/images/csgo.png" alt="">
                                    </div>
                                    <p class="header-nav__smenu-name">
                                        CS:GO
                                    </p>
                                </a>
                                <a href="/catalog/dota-2/" class="header-nav__smenu-item">
                                    <div class="header-nav__smenu-ico">
                                        <img src="/static/bestaccs/images/dota2.png" alt="">
                                    </div>
                                    <p class="header-nav__smenu-name">
                                        Dota 2
                                    </p>
                                </a>
                                <a href="/catalog/war-thunder/" class="header-nav__smenu-item">
                                    <div class="header-nav__smenu-ico">
                                        <img src="/static/bestaccs/images/war-t.png" alt="">
                                    </div>
                                    <p class="header-nav__smenu-name">
                                        War Thunder
                                    </p>
                                </a>
                                <a href="/catalog/world-of-tanks" class="header-nav__smenu-item">
                                    <div class="header-nav__smenu-ico">
                                        <img src="/static/bestaccs/images/wot.png" alt="">
                                    </div>
                                    <p class="header-nav__smenu-name">
                                        World of Tanks
                                    </p>
                                </a>
                                <a href="/catalog/pubg/" class="header-nav__smenu-item">
                                    <div class="header-nav__smenu-ico">
                                        <img src="/static/bestaccs/images/pubg.png" alt="">
                                    </div>
                                    <p class="header-nav__smenu-name">
                                        PUBG
                                    </p>
                                </a>
                                <a href="/catalog/gta-v/" class="header-nav__smenu-item">
                                    <div class="header-nav__smenu-ico">
                                        <img src="/static/bestaccs/images/gta-v.png" alt="">
                                    </div>
                                    <p class="header-nav__smenu-name">
                                        GTA V
                                    </p>
                                </a>
                            </div>
                    </div>
                </header>
                {% block main %}
                {% endblock %}
                <footer class="footer">
                    <div class="footer__main">
                        <div class="wrapper">
                            <nav class="footer__nav">
                                <ul>
                                    <li>
                                        <a href="/kak-kupit/" class="footer__nav-link">
    	                                    Как купить
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/guaranties/" class="footer__nav-link">
	                                        Гарантии
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/reviews/" class="footer__nav-link">
        	                                Отзывы ВК
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/catalog/" class="footer__nav-link">
            	                            Каталог игр
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/polzovatelskoe-soglashenie-go-accscom/" class="footer__nav-link">
                	                        Соглашение
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/refund/" class="footer__nav-link">
                    	                    Возврат средств
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/kontakty/" class="footer__nav-link">
                        	                Контакты
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="footer__info">
                                <div class="footer__info-commerc">
                                    <p class="footer__legal">
                                        Все продаваемые ключи закупаются у официальных дистрибьюторов и издателей. В том числе у 1C-СофтКлаб, Бука, Новый Диск и Enaza.
                                    </p>
                                    <div class="footer__pay-syst">
                                        <img src="/static/bestaccs/img/pay-systems.png" alt="">
                                    </div>
                                </div>
                                <div class="footer__info-soc">
									<div class="social-links social-links--grey">
										<a target="_blank" href="https://vk.com/" class="fab fa-vk"></a>
										<a target="_blank" href="mailto:no-reply@go-accs.com" class="far fa-envelope"></a>
										<a href="javascript:" class="fab fa-telegram"></a>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__bottom">
                        <div class="wrapper">
                            <p class="footer__cr">
                                Go-accs.com © 2018
                            </p>
                            <p class="footer__dev">
                                
                            </p>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /page-inner -->
            <!-- popups -->
        </div>
        <div class="overlay_modal">
            <div class="modal_window" id="modal-buyform">
                <div class="modal_blocks_wrap">
                    <div class="modal_header">
                        <span>Оформление заказа</span>
                        <div class="modal__close"><img src="/static/getshop/images/close.svg"></div>
                    </div>
                    <div class="modal_body">
                        <div class="preview_item" align="left">
                            <h2 style="margin-bottom: 20px;">Вы выбрали:</h2>
                            {% if data.pic %}<img src="{{ data.pic.url }}" alt="STEAM">{% else %}<img src="/static/getshop/images/catalog1.jpg" alt="{{ data.name }}">{% endif %}
                            <h2 class="preview_item_name">{{ data.name }}</h2>
                        </div>
                        <div class="modal_paytypes">
                            <h2 align="left" style="margin-bottom: 20px;">Выберите способо оплаты:</h2>
                            <div class="payment-types__item _checked" paymentType="qiwi">
                                <div class="payment-types__item-img">
                                    <img src="/static/bestaccs/img/qiwi.png">
                                </div>
                                <span class="h5">QIWI</span>
                                <div class="payment-types__item-text">С вашего QIWI кошелька</div>
                            </div>
                            <div class="payment-types__item" paymentType="PC">
                                <div class="payment-types__item-img">
                                    <img src="/static/bestaccs/img/ym.png">
                                </div>
                                <span class="h5">Yandex Деньги</span>
                                <div class="payment-types__item-text">С вашего счета Yandex Денег</div>
                            </div>
                            <div class="payment-types__item" paymentType="AC">
                                <div class="payment-types__item-img">
                                    <img src="/static/bestaccs/img/pay-card.png">
                                </div>
                                <span class="h5">С банковских карт</span>
                                <div class="payment-types__item-text">Visa / Mastercard, Maestro</div>
                            </div>
                            <div class="payment-types__item" paymentType="MC">
                                <div class="payment-types__item-img">
                                    <img src="/static/bestaccs/img/pay-phone.png">
                                </div>
                                <span class="h5">С мобильного телефона</span>
                                <div class="payment-types__item-text">MTC, Мегафон, Билайн, Теле 2</div>
                            </div>
                        </div>
                        <div class="modal_paypaypay">
                            <form method="get" onsubmit="return false;">
	                            <h2 align="left">К оплате: <span style="float: right;">{{ data.price|floatformat:"-2" }}</span></h2>
	                            <input class="frm_email" type="email" placeholder="Введите Ваш E-mail" required="">
	                            <label for="cheek" >
	                                <div class="pseudo_checkbox">
	                                    <input style="display: block; position: absolute; z-index: 52342; width: 1px; height: 1px;" id="cheek" type="checkbox" required>
	                                </div>
	                                Я ознакомлен с пользовательским соглашением и описанием товара и уведомлен, что товар предназначен для активации: Россия, Украина, Армения, Азербайджан, Республика Беларусь, Грузия, Киргизстан, Казахстан, Республика Молдова, Таджикистан, Туркменистан или Узбекистан
	                            </label>
                                <div class="paybutton" pay="qiwi">
	                            <button type="submit" style="margin-top: 30px;" class="btn btn--round btn--lg btn--orng open-modal">
		                            Оплатить
	                            </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% for item in f_seller %}
            <div class="modal_window" id="modal-seller{{ item.id }}">
                <div class="modal_blocks_wrap middle">
                    <div class="modal_header">
	                    Информация о продавце
                        <div class="modal__close"><img src="/static/getshop/images/close.svg"></div>
                    </div>
                    <div class="modal_body" align="left">
                        <div class="seller_info">
                            <img src="{{ item.img.url }}">
                            <span>{{ item.nickname }}</span>
                            <div style="width: 100%; height: 1px; background: #999; float: left; margin: 20px 0;"></div>
                            <div class="seller_inf_row">
                                <p class="h5">Ф.И.O.</p>
                                <p>{{ item.suername }} {{ item.name }} {{ item.second_name }}</p>
                                <p class="h5" style="margin-top: 30px;">Дата рождения</p>
                                <p>{{ item.birth }}</p>
                                <p class="h5" style="margin-top: 30px;">Прошел верификацию</p>
                                <ul>
                                    <li><p>✔</p> Аттестат выдан после личной встречи с аттестатором</li>
                                    <li><p>✔</p> Предоставил заверенную копию паспорта</li>
                                    <li><p>✔</p> Внес залог {{ item.deposit }}р</li>
                                </ul>
                                <p class="h5" style="margin-top: 30px;">Профиль Webmoney</p>
                                <p><a href="{{ item.webmoney }}" class="hrefwebmoney" target="blanck">Ссылка на аттестат <img style="position: absolute; height: 30px; top: 4px; right: 8px;" src="/static/bestaccs/img/wmlogosp.png"></a></p>
                                <p class="h5" style="margin-top: 30px;">Статистика продаж</p>
                                <p style="font-size: 18px; color: rgba(32, 178, 75, 0.75); margin-bottom: 10px;">Успешных продаж: {{ item.success_trade }}</p>
                                <p style="font-size: 18px; color: #F44336; margin-bottom: 10px;">Возвратов: {{ item.fail_trade }}</p>
                                <p style="font-size: 18px; margin-bottom: 10px;">Всего сделок: {{ item.total_trade }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <script src="/static/getshop/js/jquery-3.2.1.min.js"></script>
        <script src="/static/bestaccs/js/jquery.slicebox.js"></script>
        <script src="/static/getshop/js/modals.js"></script>
        <script src="/static/bestaccs/js/glide.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        <input type="hidden" id="csrf_token" value="{{ c.csrf_token }}">
        <script>
        $(document).ready(function(){
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            csrftoken = getCookie('csrftoken');
        })
        </script>
        <script>
        jQuery(document).ready(function($){
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            //var csrftoken = getCookie('csrftoken');
            
            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function sameOrigin(url) {
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
        </script>
        <script>
            $(document).ready(function(){
                jQuery.curCSS = function(element, prop, val) {
                    return jQuery(element).css(prop, val);
                };
                $(function() {
                    $("input[type=search][name=q]").autocomplete({
                        source: "/get/fields/",
                        minLength: 2,
                        select: function( event, ui ) {
                            log( ui.item ?
                                "Выбрано: " + ui.item.value + " aka " + ui.item.id :
                                "Нет ничего подходящего " + this.value );
                        },
                    }).on( "autocompletesearch", function( event, ui ) {
                        $('.my_autocomplete').html('')
                    })
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                        if( $('.my_autocomplete > div').length ){
                            $('.my_autocomplete').parent().addClass('_active')
                        }
                        else{
                            $('.my_autocomplete').parent().removeClass('_active')
                        }
                        return $( "<div></div>" )
                            .data( "item.autocomplete", item )
                            .append( '<a href="/catalog/' + item.category + '/' + item.value + '/" class="search-prod"><div class="search-prod__img-wr"><div class="search-prod__img" style="background-image: url(' + item.img + ');"></div></div><div class="search-prod__main"><h4 class="search-prod__name">' + item.label + '</h4><p class="search-prod__genre">ЖАНР: <span>Экшн, Симуляторы, Стратегии</span></p><span class="price price--ssm"><font class="currencyPrice" currency="249">' + item.price + '</font> <span class="rub"><font class="currencySymbol"><span class="rub">P</span></font></span></span></div></a>' )
                            .appendTo('.my_autocomplete');
                    }
                })
                var change_temp = "";
                $("input[type=search][name=q]").bind('keydown keyup',function(e){
                    if(e.type == "keyup"){
                        change_temp == $(this).val();
                        $('.my_autocomplete').parent().removeClass('_active')
                    }
                });
                $('.oblique-btns__btn-wr').find('a[href="?' + window.location.href.split('?')[1] +'"]').parent().addClass('_active')
            })
        </script>
        <script>
            $(document).ready(function(){
                window.onload=function(){
                    $('#Glide').fadeIn(200)
                }
            })
        </script>
        {% block scripts %}
        {% endblock %}
        {% for s in scripts %}
            {{ s.content|safe }}
        {% endfor %}
    </body>
</html>