{% extends "bestaccs/_base.html" %}
{% block block_tags %}
<title>{{ data.seo_title }}</title>
<meta name="description" content="{{ data.seo_description }}">
<meta name="keywords" content="{{ data.seo_keywords }}">
{% endblock %}
{% block main %}
<div class="page-body">
    <div class="main-wr">
        <div class="wrapper">
            <div class="text-page">
                <h1 class="h1">{{ data.seo_h1 }}</h1>
				<article>
					<ul class="cats">
					{% for c in categories %}
					<li><a href="/catalog/{{ c.alias }}/">{{ c.name }}</a></li>
					{% endfor %}
					</ul>
				</article>
            </div>
        </div>
    </div>
    <!-- /page-body -->
</div>
{% endblock %}