{% extends "bestaccs/_base.html" %}
{% block block_tags %}
<title>{{ data.seo_title }}</title>
<meta name="description" content="{{ data.seo_description }}">
<meta name="keywords" content="{{ data.seo_keywords }}">
{% endblock %}
{% block main %}
<div class="page-body">
    <div class="main-wr">
        <div class="wrapper">
            <div class="oblique-btns" style="margin-top: 25px;">
                <span class="oblique-btns__btn-wr">
                    <a href="?price=max_500" class="btn btn--oblique js-pr-cat-btn">
                    до 500 р.
                    </a>
                </span>
                <span class="oblique-btns__btn-wr">
                    <a href="?price=under_500-1000" class="btn btn--oblique js-pr-cat-btn">
                    500 - 1000 р.
                    </a>
                </span>
                <span class="oblique-btns__btn-wr">
                    <a href="?price=min_1000" class="btn btn--oblique js-pr-cat-btn">
                    от 1000 р.
                    </a>
                </span>
            </div>
            <div class="text-page">
                <article>
                <span class="h1" style="margin-bottom: 30px; display: block;">{{ data.name }}</span>
                {% for i in items %}
                   {% include "bestaccs/product-item.html" %}
                {% empty %}
                    К сожалению товара данной категории нету...
                {% endfor %}
                <h1 class="h1">{{ data.seo_h1 }}</h1>
                {{ data.content|safe }}
                </article>
            </div>
        </div>
    </div>
    <!-- /page-body -->
</div>
{% endblock %}