{% extends "bestaccs/_base.html" %}
{% block block_tags %}
<title>{{ data.seo_title }}</title>
<meta name="description" content="{{ data.seo_description }}">
<meta name="keywords" content="{{ data.seo_keywords }}">
{% endblock %}
{% block main %}
<div class="page-body">
    <div class="main-wr">
        <div class="wrapper">
            <div class="text-page">
                <h1 class="h1">{{ data.seo_h1 }}</h1>
                <article>
                    <div class="not_authorized_comments{% if userdata == '' %} active{% endif %}">
                        <div class="reviews-header">{{ count }} отзывов<img src="/static/getshop/images/comments_widget.png"></div>
                        <div class="total-reviews-box">					
                            <form method="get" action="#sended">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="100%" align="center">
                                                <span>Для того, чтобы оставить свой отзыв, необходимо авторизоваться <b>Авторизоваться</b></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="100%" align="center">
                                                <a class="vk_oauth" href="https://oauth.vk.com/authorize?client_id=6405035&redirect_uri=http://go-accs.com/reviews&response_type=code">Авторизироваться</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="authorized_comments{% if userdata != '' %} active{% endif %}">
                        <div class="reviews-header"><span class="numnum">{{ count }}</span> отзывов<img src="/static/getshop/images/comments_widget.png"></div>
                        <div class="total-reviews-box">					
                            <form method="get" action="#sended">
                                <table width="100%">
                                    <tbody><tr>
                                        <td><div class="review_avatar user_avatar" style="background-image: url({{ userdata.photo_big }});margin-left: 10px;margin-top: -20px;"></div></td>
                                        <td width="95%">
                                            <textarea name="review" placeholder="Ваш отзыв..."></textarea>
                                        </td>
                                    </tr>
                                    <tr class="attachementImg">
                                        <td>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%"></td>
                                        <td width="90%">
                                            <div class="review-logged-as">Вы авторизованы как <a class="username_vk" href="https://vk.com/id{{ userdata.uid }}" target="_blank">{{ userdata.name }} {{ userdata.surename }}</a></div>
                                            <div class="send_vk_review" style="position: relative;">Отправить</div>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </form>
                        </div>
                    </div>
                    <div class="comments">
                    {% for com in comments %}
                        <div class="review_comment">
                            <div class="review_avatar" style="background-image: url({{ com.avatar }});"></div>
                            <div class="review_text" avtor-id-old="{{ com.vkid }}" {% if userdata.uid|stringformat:"s" == com.vkid|stringformat:"s" %}style="display: none"{% endif %}><div class="rev_username">{{ com.username }}</div><div class="review-concret-text">{{ com.news_comment }}</div><div class="rev_time">{{ com.datetime.time|timesince:com.datetime.now }} назад</div></div>
                            <div class="review_text" avtor-id-new="{{ com.vkid }}" {% if userdata.uid|stringformat:"s" == com.vkid|stringformat:"s" %}style="display: block;"{% endif %}><div class="rev_username">{{ com.username }}</div><div class="review-concret-text">{{ com.comment }}</div><div class="rev_time">{{ com.datetime.time|timesince:com.datetime.now }} назад</div></div>
                            <div style="clear: both"></div>
                        </div>
                    {% endfor %}
                    <ul class="pagination">
                    {% if comments.has_previous %}
                        <li class="arrow"><a href="?page={{ comments.previous_page_number }}{% if get_price %}&price={{ get_price }}{% endif %}">&laquo;</a></li>
                    {% endif %}
                    {% if comments.has_previous %}<li><a href='?page={{ comments.number|add:"-1" }}{% if get_price %}&price={{ get_price }}{% endif %}'>{{ comments.number|add:"-1" }}</a></li>{% endif %}
                    <li class="active"><a href="?page={{ comments.number }}{% if get_price %}&price={{ get_price }}{% endif %}">{{ comments.number }}</a></li>
                    {% if comments.has_next %}<li><a href='?page={{ comments.number|add:"1" }}{% if get_price %}&price={{ get_price }}{% endif %}'>{{ comments.number|add:"1" }}</a></li>{% endif %}
                    {% if comments.has_previous == False %}<li><a href='?page={{ comments.number|add:"2" }}{% if get_price %}&price={{ get_price }}{% endif %}'>{{ comments.number|add:"2" }}</a></li>{% endif %}
                    {% if comments.has_next %}
                        <li class="arrow"><a href="?page={{ pag }}{{ comments.next_page_number }}{% if get_price %}&price={{ get_price }}{% endif %}">&raquo;</a></li>
                    {% endif %}
                    </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        if( window.location.href.split('?')[1] != undefined ){
	        if ( window.location.href.split('?')[1].split('=')[0] == 'code'  ){
	            history.pushState(null, null, '/reviews/');
	        }
        }
        $('.send_vk_review').click(function(){
            if($('.total-reviews-box textarea').val()){
                n = new Date()
                test = {
                    text : $('.total-reviews-box textarea').val(),
                    img : '{{ userdata.photo_big }}',
                    vk_id : '{{ userdata.uid }}',
                    username : '{{ userdata.name }}' + ' ' + '{{ userdata.surename }}',
                    time : Date.parse(n)/1000
                }
                $.ajax({
                    url: '/ajax/',
                    type: "POST",
                    data: { type : 'add_comment', data : test },
                    success: function (data, textStatus) {
                        if( parseInt(data) == 234 ){
                            $('.no_more').css('display','block')
                        }
                        else{
                            $('.total-reviews-box textarea').val('');
                            $('.comments').prepend('<div class="comments"><div class="review_comment "><div class="review_avatar" style="background-image: url(' + test['img'] + ');"></div><div class="review_text"><div class="rev_username">' + test['username'] + '</div><div class="review-concret-text">' + test['text'] + '</div><div class="rev_time">Только что</div></div><div style="clear: both"></div></div></div>')
                        }
                        console.log(data)
                    }
                })
            }
        })
        $("html").keypress(function(e){
            if(e.keyCode==13){
                if( $($('textarea')[0]).val() != ''){
                    $('.send_vk_review').click();
                }
            }
         });
    })
</script>
{% endblock %}