{% extends "bestaccs/_base.html" %}
{% block block_tags %}
<title>{{ data.seo_title }}</title>
<meta name="description" content="{{ data.seo_description }}">
<meta name="keywords" content="{{ data.seo_keywords }}">
{% endblock %}
{% block main %}
<div class="page-body">
	<div class="promo-slider js-promo-slider _animated">
    {% for s in slider %}
        {% if s.0|length > 0 or s.1|length > 0 %}
            {% for item in s.0 %}
			<a href="/catalog/{{ item.category.alias }}/{{ item.alias }}/" class="promo-slider__slide">
			    <span class="promo-slider__bg" style="background-image: url('{{ item.slider_big.url }}');"></span>
			    <div class="wrapper">
			        <div class="promo-slider__inner">
			            <!--span class="steam steam--white"></span-->
			            <span class="promo-slider__title">
			                {{ item.name }}                        
			            </span>
			            <p class="promo-slider__price-str">
			                <span class="price">
			                <font class="currencyPrice">{{ item.price|floatformat:"-2" }}</font> <span class="rub"><font class="currencySymbol">Р</font></span>
			                </span>
			                <span class="discount">
			                -15%
			                </span>
			            </p>
			        </div>
			    </div>
				<div class="bg_shadow"></div>
			</a>
            {% endfor %}
        {% endif %}
    {% endfor %}
	</div>
    <!-- promo-luck-wr -->
    <section class="promo-products js-catalog-tabs">
        <div class="wrapper">
            <div class="oblique-btns">
                <span class="oblique-btns__btn-wr">
                    <a href="?price=max_500" class="btn btn--oblique js-pr-cat-btn">
                    до 500 р.
                    </a>
                </span>
                <span class="oblique-btns__btn-wr">
                    <a href="?price=under_500-1000" class="btn btn--oblique js-pr-cat-btn">
                    500 - 1000 р.
                    </a>
                </span>
                <span class="oblique-btns__btn-wr">
                    <a href="?price=min_1000" class="btn btn--oblique js-pr-cat-btn">
                    от 1000 р.
                    </a>
                </span>
            </div>
            <div class="products-wr">
                {% for i in accss %}
                    {% include "bestaccs/product-item.html" %}
                {% endfor %}
            </div>
            <div class="pagination" style="float: left;width: 100%;">
                <ul class="pagination">
                    {% if accss.has_previous %}
                        <li class="arrow"><a href="?page={{ accss.previous_page_number }}{% if get_price %}&price={{ get_price }}{% endif %}">&laquo;</a></li>
                    {% endif %}
                    {% for pag in accss.paginator.page_range %}
                        {% if pag == accss.number %}
                            <li class="active"><a href="?page={{ pag }}{% if get_price %}&price={{ get_price }}{% endif %}">{{ pag }}</a></li>
                        {% else %}
                            <li><a href="?page={{ pag }}{% if get_price %}&price={{ get_price }}{% endif %}">{{ pag }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if accss.has_next %}
                        <li class="arrow"><a href="?page={{ pag }}{{ accss.next_page_number }}{% if get_price %}&price={{ get_price }}{% endif %}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/getshop/slick/slick/slick.min.js"></script>
<script>
	$(document).ready(function(){
        if ($(window).width() > 767){
            $('.promo-slider').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              pauseOnHover: false,
              infinite: true,
              autoplay: true,
              fade: true,
              autoplaySpeed: 5000,
              prevArrow: '<button class="slick-prev" aria-label="Previous" type="button"></button>',
              nextArrow: '<button class="slick-next" aria-label="Next" type="button"></button>',
            });
        }
	})
</script>
{% endblock %}