{% extends "bestaccs/_base.html" %}
{% block block_tags %}
<title>{{ data.seo_title }}</title>
<meta name="description" content="{{ data.seo_description }}">
<meta name="keywords" content="{{ data.seo_keywords }}">
{% endblock %}
{% block main %}
<div class="page-body">
    <div class="main-wr">
        <div class="wrapper">
            <div class="text-page">
                <h1 class="h1">{{ data.seo_h1 }}</h1>
                <article>
					<div class="success-page-info">
					    <img src="/static/getshop/images/success.svg">
					    <span class="first_mess">Поздравляем!</span>
					    <span class="second_mess">Ваша покупка успешно совершена, на Вашу почту - <b class="buyer-mail">{{ fail_mail }}</b> отправлено письмо с дальнейшей инструкцией!</span>
					</div>
                </article>
            </div>
        </div>
    </div>
    <!-- /page-body -->
</div>
{% endblock %}
{% block scripts %}
{% endblock %}