{% extends "bestaccs/_base.html" %}
{% block block_tags %}
<title>{% if data.seo_title %}{{ data.seo_title }}{% else %}Купить {{ data.name }} | Go-accs.com - ключи от игр по лучшим ценам{% endif %}</title>
<meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{% endif %}">
<meta name="keywords" content="{{ data.seo_keywords }}">
{% endblock %}
{% block main %}
<div class="page-body">
    <nav class="breadcrumbs">
        <div class="wrapper">
            <ul class="breadcrumb">
                <div class="breadcrumbs__li"><a class="breadcrumbs__link link link--grey" href="/">Главная</a></div>
                <div class="breadcrumbs__li"><a class="breadcrumbs__link link link--grey" href="/catalog/{{ data.category.alias }}">{{ data.category.name }}</a></div>
                <div class="breadcrumbs__li">
                    <span>{{ data.name }}</span>
                </div>
            </ul>
        </div>
    </nav>
    <div class="main-wr" style="transform: none;">
        <div class="wrapper" style="transform: none;">
            <section class="game-header">
                <div class="game-header__column game-header__column--left">
                    <span class="game-header__title h1">
                        {{ data.name }}
                    </span>
                </div>
            </section>
            <div class="game-body" style="transform: none;">
                <div class="game-body__column game-body__column--left js-sliding-block" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="game-body__wrapper theiaStickySidebar" id="js-fixed-block" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 335px;">
                        <div class="game-body__section game-body__section--first">
                            <section class="game-body__wandering game-body__wandering--first" data-parent-desktop=".game-body__section--first" data-parent-mobile=".game-body__stationary--first">
                                <div class="gameposter game-image">
                                    {% if data.itemimage %}<img src="{{ data.itemimage.url }}" alt="{{ data.name }}">{% endif %}
                                </div>
                                <ul class="game-features">
                                    <form id="w1" action="/catalog" method="get" style="width: 100%">
                                        <div class="form-group field-productfilter-characteristic-0">
                                            <input type="hidden" id="productfilter-characteristic-0" class="form-control" name="ProductFilter[characteristic][0]" value="212">
                                            <p class="help-block help-block-error"></p>
                                        </div>
                                        <li class="game-features__item">
                                            <!-- <a class="game-features__link"> -->
                                            <button type="submit" style="width: 100%; line-height: inherit"><a class="game-features__link"><span class="game-features__icon"><span class="ion-earth"></span></span>Мультиплеер</a></button>                        
                                        </li>
                                    </form>
                                    <form id="w2" action="/catalog" method="get" style="width: 100%">
                                        <div class="form-group field-productfilter-characteristic-1">
                                            <input type="hidden" id="productfilter-characteristic-1" class="form-control" name="ProductFilter[characteristic][1]" value="214">
                                            <p class="help-block help-block-error"></p>
                                        </div>
                                        <li class="game-features__item">
                                            <!-- <a class="game-features__link"> -->
                                            <button type="submit" style="width: 100%; line-height: inherit"><a class="game-features__link"><span class="game-features__icon"><span class="ion-steam"></span></span>Достижения Steam</a></button>                        
                                        </li>
                                    </form>
                                    <form id="w3" action="/catalog" method="get" style="width: 100%">
                                        <div class="form-group field-productfilter-characteristic-2">
                                            <input type="hidden" id="productfilter-characteristic-2" class="form-control" name="ProductFilter[characteristic][2]" value="215">
                                            <p class="help-block help-block-error"></p>
                                        </div>
                                        <li class="game-features__item">
                                            <!-- <a class="game-features__link"> -->
                                            <button type="submit" style="width: 100%; line-height: inherit"><a class="game-features__link"><span class="game-features__icon"><span class="ion-document-text"></span></span>Коллекционные карточки</a></button>                        
                                        </li>
                                    </form>
                                    <form id="w4" action="/catalog" method="get" style="width: 100%">
                                        <div class="form-group field-productfilter-characteristic-3">
                                            <input type="hidden" id="productfilter-characteristic-3" class="form-control" name="ProductFilter[characteristic][3]" value="218">
                                            <p class="help-block help-block-error"></p>
                                        </div>
                                        <li class="game-features__item">
                                            <!-- <a class="game-features__link"> -->
                                            <button type="submit" style="width: 100%; line-height: inherit"><a class="game-features__link"><span class="game-features__icon"><span class="ion-android-person"></span></span>Одиночная игра</a></button>                        
                                        </li>
                                    </form>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="game-body__column game-body__column--right" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="game-body__container theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                        <section class="game-body__stationary game-body__stationary--first">
                            <section class="game-parametrs">
                                <div class="params-cols">
                                    <p class="params-cols__tr">
                                        <span class="params-cols__param">
                                        Язык:
                                        </span>
                                        <span class="params-cols__content params-cols__content--border">
                                        {% if data.category.language %}{{ data.category.language }}{% else %}Русский, English{% endif %}</span>
                                    </p>
                                    <p class="params-cols__tr">
                                        <span class="params-cols__param">
                                        Регион:
                                        </span>
                                        <span class="params-cols__content params-cols__content--border">
                                        Россия и СНГ                       </span>
                                    </p>
                                    {% if data.category.genre %}<p class="params-cols__tr">
                                        <span class="params-cols__param">
                                        Жанр:
                                        </span>
                                        <span class="params-cols__content params-cols__content--border">
                                        {{ data.category.genre }}                       </span>
                                    </p>{% endif %}
                                    {% if data.category.release %}<p class="params-cols__tr">
                                        <span class="params-cols__param">
                                        Дата выхода:
                                        </span>
                                        <span class="params-cols__content params-cols__content--border">
                                        {{ data.category.release }}                       </span>
                                    </p>{% endif %}
                                    {% if data.category.osob %}<p class="params-cols__tr">
                                        <span class="params-cols__param">
                                        Особенности:
                                        </span>
                                        <span class="params-cols__content params-cols__content--border">
                                        {{ data.category.osob }}                       </span>
                                    </p>{% endif %}
                                    {% if data.category.creator %}<p class="params-cols__tr">
                                        <span class="params-cols__param">
                                        Разработчик:
                                        </span>
                                        <span class="params-cols__content params-cols__content--border">
                                        {{ data.category.creator }}                       </span>
                                    </p>{% endif %}
                                </div>
                            </section>
                            <section class="game-available">
                                <div class="game-deal">
                                    <div class="game-deal__column">
                                        <div class="game-deal__col game-deal__col--price">
                                            <div class="price-wr">
                                                <span class="price-wr__discount">
                                                {% if data.discount %}Скидка: {{ data.discount }}%{% endif %}
                                                </span>
                                                <div class="price-wr__main-str">
                                                    <del class="price-wr__last-price">
                                                    {% if data.discount %}<font class="currencyPrice" currency="669">{{ data.discount_price }}</font>  <font class="currencySymbol"><span class="rub">P</span></font>{% endif %}
                                                    </del>
                                                    <span class="price price--xl">
                                                    <font class="currencyPrice" currency="599">{{ data.price|floatformat:"-2" }}</font>  <span class="rub"><font class="currencySymbol"><span class="rub">P</span></font></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="game-deal__col game-deal__col--buy">
                                            <a href="javascript:" class="btn btn--round btn--lg btn--orng open-modal" data-modal-id="modal-buyform">
                                            <span class="ico ico--cart-w"></span>
                                            Купить
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game-deal__column">
                                        <div class="game-deal__col game-deal__col--available">
                                            <div class="available">
                                                <span class="available__icon available__icon--green">
                                                <span class="ion-android-done"></span>
                                                </span>
                                                <span class="available__text">В наличии</span>
                                            </div>
                                        </div>
                                        <div class="game-deal__col game-deal__col--review">
                                            <a href="#comments" class="ico-link js-scroll-trigger game-review-link">
                                            <span class="ico ico--comm-cloud"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="store-features">
                                <h3 class="h3 store-features__title">Почему именно Go-accs?</h3>
                                <ul class="store-features__list">
                                    <li class="store-features__item store-features__item--price">Цены ниже Steam</li>
                                    <li class="store-features__item store-features__item--delivery">Моментальная доставка на эл. почту</li>
                                    <li class="store-features__item store-features__item--comission">Нет комиссии</li>
                                    <li class="store-features__item store-features__item--key">Ключи от издателей</li>
                                    <li class="store-features__item store-features__item--discount">Скидки круглый год</li>
                                    <li class="store-features__item store-features__item--cacheback">Кэшбек до 5%</li>
                                </ul>
                            </section>
                        </section>
                        <section class="game-body__stationary game-body__stationary--second">
                            <section class="game-describe game-describe--tabs">
                                <div class="game-describe__tabs tabs js-tabs tabs--game-view">
                                    <div class="game-describe__controls tabs__controlls ">
                                        <button type="button" class="game-describe__button btn btn--gold-border js-tabs-btn _active content_but" onclick="$(this).addClass('_active'); $('.content_bl').addClass('_active'); $('.activate_but, .activate_bl').removeClass('_active'); ">
                                            <h3 class="h3 game-describe__title">Описание</h3>
                                        </button>
                                        <button type="button" class="game-describe__button btn btn--gold-border js-tabs-btn activate_but" onclick="$(this).addClass('_active'); $('.activate_bl').addClass('_active'); $('.content_but, .content_bl').removeClass('_active')">
                                            <h3 class="h3 game-describe__title">Активация</h3>
                                        </button>
                                    </div>
                                    <div class="tabs__group game-describe__content">
                                        <div class="game-describe__tab tabs__tab tabs__tab--game-desc typography js-tabs-tab _active content_bl">
	                                        <article>
                                             <h1 class="game-header__title h1">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}Купить {{ data.name }}{% endif %}</h1>
                                            {{ data.content|safe }}
                                            </article>
                                        </div>
                                        <div class="game-describe__tab tabs__tab typography js-tabs-tab activate_bl">
                                            <ul class="game-activation">
                                                <li class="game-activation__item">
                                                    Если у вас не установлен Steam клиент, скачайте и установите его.
                                                </li>
                                                <li class="game-activation__item">
                                                    Войдите в свой аккаунт Steam или зарегистрируйте новый, если у вас его нет.
                                                </li>
                                                <li class="game-activation__item">
                                                    Перейдите в раздел "Игры" и выберите "Активировать через Steam...".
                                                </li>
                                                <li class="game-activation__item">
                                                    Введите ключ активации.
                                                </li>
                                                <li class="game-activation__item">
                                                    После этого игра будет в вашей библиотеке Steam, и вы сможете&nbsp;скачать.                            
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- activation tab -->
                                    </div>
                                </div>
                                <!-- tabs -->
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hidden" style="display: none">
    <form method="POST" action="http://grissli-dev.com/paypage/" id="yandex">
        <input name="method" type="hidden" value="yandex"> 
        <input type="hidden" name="koshel" value="{% for p in pouches %}{% if p.type == 'ya' %}{{ p.number }}{% endif %}{% endfor %}"> 
        <input type="hidden" name="quickpay-form" value="shop">
        <input type="hidden" name="tovar" value="Go-accs.com [{{ rand_num }}]">
        <input type="hidden" name="sum" value='{{ data.price|floatformat:"-2" }}'>
        <input type="hidden" name="ya_type" value="PC">
        <input type="hidden" name="successURL" value="http://{{ curr_host }}/order-success/">
        <button type="submit" class="btn">
            <span>Перейти к оплате</span>
        </button>
    </form>
    <form action="http://grissli-dev.com/paypage/" method="POST" id="qiwi">
        <input name="method" type="hidden" value="qiwi">
        <input name="qiwi_phone" type="hidden" value="{% for p in pouches %}{% if p.type == 'qiwi' %}{{ p.number }}{% endif %}{% endfor %}">
        <input name="sum" type="hidden" value='{{ data.price|floatformat:"-2" }}'>
        <input name="currency" type="hidden" value="RUB">                                                 
        <input name="amountFraction" type="hidden" value="0">
        <input name="tovar" type="hidden" value="Go-accs.com [{{ rand_num }}]">
        <input  class="email_pay" placeholder="Введите свой email" name="email" type="email" required>
        <input  type="submit" class="howbay-buyButton popup-btn" name="" value="перейти к оплате" />
    </form>
</div>
{% endblock %}
{% block scripts %}
<input type="hidden" id="csrf_token" value="{{ c.csrf_token }}">
<script>
$(document).ready(function(){
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    csrftoken = getCookie('csrftoken');
})
</script>
<script>
jQuery(document).ready(function($){
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    //var csrftoken = getCookie('csrftoken');
    
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
});
</script>
<script>
    $(document).ready(function(){
        $('.payment-types__item').click(function(){
            $(this).addClass('_checked').siblings().removeClass('_checked')
            if( $(this).attr('paymentType') == 'qiwi'){
                $('.paybutton').attr('pay','qiwi')
            }
            else{
                $('.paybutton').attr('pay','yandex')
                $('#yandex').find('[name=ya_type]').attr('value', $(this).attr('paymentType'))
            }
        })
        $('.paybutton').click(function(){
            if( $('.frm_email').val() != '' && $('#cheek').prop('checked')){
	            if( $('.frm_email').val() != '' && $('#cheek').prop('checked')){
		            if($(this).attr('pay') == 'qiwi'){
			            paytype = 1
		            }
		            else{
			            paytype = 2
		            }
			        $.ajax({
			            url: '/ajax/',
			            type: "POST",
			            data: { type : 'save_mail', email : $('.frm_email').val(), id : '{{ data.pk }}', number : '{{ rand_num }}', paytype : paytype, usertoken : '{% if usertoken %}{{ usertoken }}{% endif %}' },
			            success: function( data ){
			                ssss = data
			            }
			        })
	            }
                if($(this).attr('pay') == 'qiwi'){
                    $('#qiwi').submit()
                }
                else{
                    $('#yandex').submit()
                }
            }
        })
    })
</script>
{% endblock %}