<div class="price-item">
    <div class="catalog-item__img">
        {% if i.pic %}<a href="/catalog/{{ i.category.alias }}/{{ i.alias }}/"><img src="{{ i.pic.url }}" alt="{{ i.name }}"></a>{% else %}<a href="/catalog/{{ i.category.alias }}/{{ i.alias }}/"><img src="/static/getshop/images/catalog1.jpg" alt="{{ i.name }}"></a>{% endif %}
    </div>
    <div class="catalog-item__name">
            <a href="/catalog/{{ i.category.alias }}/{{ i.alias }}/">{{ i.name }}</a>
        <div class="catalog-item__info">
            
        </div>
    </div>
    <div class="catalog-item__price">
        {% if i.fake_seller %}<a href="javascript:" class="open-modal" data-modal-id="modal-seller{{ i.fake_seller.id }}"><span style="line-height: 36px; margin-right: 30px; position: relative; top: -3px; font-weight: normal;"><span style="position: absolute; font-size: 13px; top: -25px; margin-left: 52px; color: #999;">Продавец:</span><img style="width: 40px; margin-right: 12px; position: relative; top: 5px; border-radius: 50%;" src="{{ i.fake_seller.img.url }}">{{ i.fake_seller.nickname }}</span></a>{% endif %}
        {% if i.discount %}<del class="price-wr__last-price">
           <font class="currencyPrice" currency="999">{{ i.discount_price|floatformat:"-2"}}</font>  <font class="currencySymbol"><span class="rub">P</span></font>
        </del>{% endif %}
        <a href="/catalog/{{ i.category.alias }}/{{ i.alias }}/">
            <span class="btn btn--round btn--orng btn--md">
                <span class="ico ico--cart-w"></span>
                <font class="currencyPrice" currency="899">{{ i.price|floatformat:"-2" }}</font> <font class="currencySymbol"><span class="rub">P</span></font>
            </span>
        </a>
    </div>
</div>