{% extends "bestaccs/_base.html" %}
{% block block_tags %}
<title>{{ data.seo_title }}</title>
<meta name="description" content="{{ data.seo_description }}">
<meta name="keywords" content="{{ data.seo_keywords }}">
{% endblock %}	
{% block main %}
<div class="page-body">
    <div class="main-wr">
        <div class="wrapper">
            <div class="text-page">
                <span style="display: block;">Для того чтобы посмотреть ваши покупки, введите E-mail указанный при оплате товара.</span>
                <div class="support-form">
	                <input class="support-form__input email" type="email" placeholder="E-mail">
	                <button style="margin-top: 20px;" class="support-footer__btn">Проверить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /page-body -->
</div>
{% endblock %}
{% block scripts %}
<script>
	$(document).ready(function(){
		$('.support-footer__btn').click(function(){
	        $.ajax({
	            url: '/check-purchases/',
	            type: "POST",
	            data: { type : 'what_i_buy', mail : $('.support-form__input').val() },
	            success: function( data ){
	                ssss = data
	            }
	        })	
		})
	})
</script>
{% endblock %}