{% extends "bestaccs/_base.html" %}
{% block block_tags %}
<title>{{ data.seo_title }}</title>
<meta name="description" content="{{ data.seo_description }}">
<meta name="keywords" content="{{ data.seo_keywords }}">
{% endblock %}
{% block main %}
<div class="page-body">
    <div class="main-wr">
        <div class="wrapper">
            <div class="text-page">
                <h1 class="h1">{{ data.seo_h1 }}</h1>
                <article>
                    {{ data.content|safe }}
                </article>
            </div>
        </div>
    </div>
    <!-- /page-body -->
</div>
{% endblock %}
{% block scripts %}
<script>
	$(document).ready(function(){
	    if($('.buyer-mail')[0]){
	        if( '{{ fail_mail }}' != '' ){
				$('.buyer-mail').text('{{ fail_mail }}')
	        }
	    }
	})
</script>
{% endblock %}